<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tlod_anijpg_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{875,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{875,604}}</string>
                <key>sourceSize</key>
                <string>{875,604}</string>
            </dict>
            <key>tlod_anijpg_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{609,442},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>tlod_anijpg_back4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{609,1},{1326,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1326,437}}</string>
                <key>sourceSize</key>
                <string>{1326,437}</string>
            </dict>
            <key>tlod_anijpg_img1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{275,880},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,260}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>tlod_anijpg_img2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,880},{273,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,270}}</string>
                <key>sourceSize</key>
                <string>{273,270}</string>
            </dict>
            <key>tlod_anijpg_img3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{539,880},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tlod_anijpg.jpg</string>
            <key>size</key>
            <string>{1936,1163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8620d4cd1a1b6f026d699da3bbdfba61:1/1$</string>
            <key>textureFileName</key>
            <string>tlod_anijpg.jpg</string>
        </dict>
    </dict>
</plist>
