<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tlod_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>tlod_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>tlod_help_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1026},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>tlod_help_back5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{1021,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,441}}</string>
                <key>sourceSize</key>
                <string>{1021,441}</string>
            </dict>
            <key>tlod_help_back6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1545},{320,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,58}}</string>
                <key>sourceSize</key>
                <string>{320,58}</string>
            </dict>
            <key>tlod_help_back7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1},{783,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,53}}</string>
                <key>sourceSize</key>
                <string>{783,53}</string>
            </dict>
            <key>tlod_help_back8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{849,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,92}}</string>
                <key>sourceSize</key>
                <string>{849,92}</string>
            </dict>
            <key>tlod_notice_word1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{854,1449},{285,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,67}}</string>
                <key>sourceSize</key>
                <string>{285,67}</string>
            </dict>
            <key>tlod_notice_word2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1787,275},{271,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,67}}</string>
                <key>sourceSize</key>
                <string>{271,67}</string>
            </dict>
            <key>tlod_notice_word3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1},{270,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,105}}</string>
                <key>sourceSize</key>
                <string>{270,105}</string>
            </dict>
            <key>tlod_notice_word4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1730,788},{204,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,29}}</string>
                <key>sourceSize</key>
                <string>{204,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tlod_jpg.jpg</string>
            <key>size</key>
            <string>{2007,1667}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be70fdaefd3572e5a52706b65f8f5e3:1/1$</string>
            <key>textureFileName</key>
            <string>tlod_jpg.jpg</string>
        </dict>
    </dict>
</plist>
