<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tlod_anipng_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,188}}</string>
                <key>sourceSize</key>
                <string>{1280,188}</string>
            </dict>
            <key>tlod_anipng_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{241,720}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{241,720}}</string>
                <key>sourceSize</key>
                <string>{243,720}</string>
            </dict>
            <key>tlod_anipng_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,723},{239,720}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,720}}</string>
                <key>sourceSize</key>
                <string>{241,720}</string>
            </dict>
            <key>tlod_anipng_back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,193},{1080,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,526}}</string>
                <key>sourceSize</key>
                <string>{1080,526}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tlod_anipng2.png</string>
            <key>size</key>
            <string>{1327,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1488c324a1efa7bffc77b9c64e6f559:1/1$</string>
            <key>textureFileName</key>
            <string>tlod_anipng2.png</string>
        </dict>
    </dict>
</plist>
