<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1},{1,1}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>tlod_back_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,420},{640,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,95}}</string>
                <key>sourceSize</key>
                <string>{640,95}</string>
            </dict>
            <key>tlod_back_img10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1206},{177,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,56}}</string>
                <key>sourceSize</key>
                <string>{177,56}</string>
            </dict>
            <key>tlod_back_img11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,420},{498,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,54}}</string>
                <key>sourceSize</key>
                <string>{498,54}</string>
            </dict>
            <key>tlod_back_img12.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1644},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>tlod_back_img13.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1922},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>tlod_back_img14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,953},{104,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,21}}</string>
                <key>sourceSize</key>
                <string>{104,21}</string>
            </dict>
            <key>tlod_back_img15.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1040},{162,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,45}}</string>
                <key>sourceSize</key>
                <string>{162,45}</string>
            </dict>
            <key>tlod_back_img16.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,421},{152,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,346}}</string>
                <key>sourceSize</key>
                <string>{152,346}</string>
            </dict>
            <key>tlod_back_img17.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1},{416,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,44}}</string>
                <key>sourceSize</key>
                <string>{416,44}</string>
            </dict>
            <key>tlod_back_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1064},{343,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,49}}</string>
                <key>sourceSize</key>
                <string>{343,49}</string>
            </dict>
            <key>tlod_back_img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1708},{275,54}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,54}}</string>
                <key>sourceSize</key>
                <string>{315,54}</string>
            </dict>
            <key>tlod_back_img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,200},{139,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,31}}</string>
                <key>sourceSize</key>
                <string>{139,31}</string>
            </dict>
            <key>tlod_back_img5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1411},{343,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,51}}</string>
                <key>sourceSize</key>
                <string>{343,51}</string>
            </dict>
            <key>tlod_back_img6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1064},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>tlod_back_img7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1988},{72,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,30}}</string>
                <key>sourceSize</key>
                <string>{72,30}</string>
            </dict>
            <key>tlod_back_img8.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1758},{245,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,106}}</string>
                <key>sourceSize</key>
                <string>{245,106}</string>
            </dict>
            <key>tlod_back_img9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1260},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>tlod_btn_add1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1906},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1906},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_add3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1466},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1858},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>tlod_btn_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1810},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>tlod_btn_auto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1744},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_auto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1690},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_auto3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1636},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_autostop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1624},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_autostop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1582},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_autostop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1528},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>tlod_btn_autotime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1860},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_autotime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1926},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1967},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>tlod_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1967},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>tlod_btn_effectclose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1968},{31,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{31,30}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>tlod_btn_effectclose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1748},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>tlod_btn_effectopen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1968},{31,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{31,30}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>tlod_btn_effectopen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1987},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>tlod_btn_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1864},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1798},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_history1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,343},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>tlod_btn_history2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1988},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>tlod_btn_neg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1387},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_neg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,353},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_neg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1582},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>tlod_btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1802},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_ok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1740},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1678},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1562},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>tlod_btn_rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1690},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>tlod_btn_rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1260},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>tlod_btn_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1833},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>tlod_btn_setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1793},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>tlod_btn_soundclose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1968},{29,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tlod_btn_soundclose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1968},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tlod_btn_soundopen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1867},{27,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{27,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tlod_btn_soundopen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1528},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tlod_btn_spin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1351},{168,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,101}}</string>
                <key>sourceSize</key>
                <string>{168,101}</string>
            </dict>
            <key>tlod_btn_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1870},{168,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,101}}</string>
                <key>sourceSize</key>
                <string>{168,101}</string>
            </dict>
            <key>tlod_btn_spin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,935},{168,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,101}}</string>
                <key>sourceSize</key>
                <string>{168,101}</string>
            </dict>
            <key>tlod_btn_stop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1360},{149,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,102}}</string>
                <key>sourceSize</key>
                <string>{149,102}</string>
            </dict>
            <key>tlod_btn_stop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1456},{149,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,102}}</string>
                <key>sourceSize</key>
                <string>{149,102}</string>
            </dict>
            <key>tlod_btn_stop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1278},{149,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,102}}</string>
                <key>sourceSize</key>
                <string>{149,102}</string>
            </dict>
            <key>tlod_freegame_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1},{348,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,49}}</string>
                <key>sourceSize</key>
                <string>{348,49}</string>
            </dict>
            <key>tlod_freegame_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1188},{132,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,68}}</string>
                <key>sourceSize</key>
                <string>{132,68}</string>
            </dict>
            <key>tlod_freegame_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1975},{161,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,38}}</string>
                <key>sourceSize</key>
                <string>{161,38}</string>
            </dict>
            <key>tlod_help_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,953},{321,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,98}}</string>
                <key>sourceSize</key>
                <string>{321,98}</string>
            </dict>
            <key>tlod_help_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,934},{250,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,141}}</string>
                <key>sourceSize</key>
                <string>{250,141}</string>
            </dict>
            <key>tlod_help_back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,777},{250,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,141}}</string>
                <key>sourceSize</key>
                <string>{250,141}</string>
            </dict>
            <key>tlod_img_autoback.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,420},{154,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,353}}</string>
                <key>sourceSize</key>
                <string>{154,353}</string>
            </dict>
            <key>tlod_img_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,934},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>tlod_notice_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{617,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,415}}</string>
                <key>sourceSize</key>
                <string>{617,415}</string>
            </dict>
            <key>tlod_notice_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,420},{350,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,159}}</string>
                <key>sourceSize</key>
                <string>{350,159}</string>
            </dict>
            <key>tlod_notice_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{195,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,29}}</string>
                <key>sourceSize</key>
                <string>{195,29}</string>
            </dict>
            <key>tlod_title_pfgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1387},{213,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,55}}</string>
                <key>sourceSize</key>
                <string>{213,55}</string>
            </dict>
            <key>tlod_title_pfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1466},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{161,58}</string>
            </dict>
            <key>tlodicon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1191},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1200},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,771},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1708},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1546},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1384},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1040},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1031},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlodicon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,774},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tlog_img_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,420},{529,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,118}}</string>
                <key>sourceSize</key>
                <string>{529,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tlod_png.png</string>
            <key>size</key>
            <string>{758,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5449a9a42c82dcb1534068e0973447b1:1/1$</string>
            <key>textureFileName</key>
            <string>tlod_png.png</string>
        </dict>
    </dict>
</plist>
