<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kofaniperson011.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{421,361}</string>
            </dict>
            <key>kofaniperson012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-66,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{422,362}</string>
            </dict>
            <key>kofaniperson013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{420,362}</string>
            </dict>
            <key>kofaniperson014.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{420,362}</string>
            </dict>
            <key>kofaniperson015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{420,361}</string>
            </dict>
            <key>kofaniperson016.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{420,362}</string>
            </dict>
            <key>kofaniperson017.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-71,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{420,362}</string>
            </dict>
            <key>kofaniperson111.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{477,361}</string>
            </dict>
            <key>kofaniperson112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-94,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{478,362}</string>
            </dict>
            <key>kofaniperson113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{-80,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{476,362}</string>
            </dict>
            <key>kofaniperson114.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-65,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{476,362}</string>
            </dict>
            <key>kofaniperson115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{-65,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{490,361}</string>
            </dict>
            <key>kofaniperson116.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{476,362}</string>
            </dict>
            <key>kofaniperson117.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-99,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{476,362}</string>
            </dict>
            <key>kofaniperson121.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson124.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{310,361}</string>
            </dict>
            <key>kofaniperson126.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{312,362}</string>
            </dict>
            <key>kofaniperson127.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson211.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson214.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{310,361}</string>
            </dict>
            <key>kofaniperson216.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{312,362}</string>
            </dict>
            <key>kofaniperson217.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson221.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson224.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{310,361}</string>
            </dict>
            <key>kofaniperson226.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{312,362}</string>
            </dict>
            <key>kofaniperson227.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson311.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson314.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{310,361}</string>
            </dict>
            <key>kofaniperson316.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{312,362}</string>
            </dict>
            <key>kofaniperson317.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson321.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{290,348}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{290,348}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,327},{250,344}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{250,344}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson324.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,507},{232,350}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{232,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,579},{232,327}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{232,327}}</string>
                <key>sourceSize</key>
                <string>{310,361}</string>
            </dict>
            <key>kofaniperson326.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,721},{302,338}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{302,338}}</string>
                <key>sourceSize</key>
                <string>{312,362}</string>
            </dict>
            <key>kofaniperson327.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,239},{266,350}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,350}}</string>
                <key>sourceSize</key>
                <string>{310,362}</string>
            </dict>
            <key>kofaniperson41.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,478},{241,357}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{241,357}}</string>
                <key>sourceSize</key>
                <string>{309,361}</string>
            </dict>
            <key>kofaniperson42.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,741},{267,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,349}}</string>
                <key>sourceSize</key>
                <string>{267,349}</string>
            </dict>
            <key>kofaniperson43.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,813},{205,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,227}}</string>
                <key>sourceSize</key>
                <string>{205,227}</string>
            </dict>
            <key>kofaniperson44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,350},{307,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,303}}</string>
                <key>sourceSize</key>
                <string>{307,303}</string>
            </dict>
            <key>kofwinani2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,883},{138,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,90}}</string>
                <key>sourceSize</key>
                <string>{138,90}</string>
            </dict>
            <key>kofwinani2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,0},{423,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,231}}</string>
                <key>sourceSize</key>
                <string>{423,231}</string>
            </dict>
            <key>kofwinani2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,883},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>kofwinani2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,844},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kofwinani2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,883},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>kofwinani3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,724},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>kofwinani4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,233},{110,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,4}}</string>
                <key>sourceSize</key>
                <string>{110,4}</string>
            </dict>
            <key>kofwinani4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,0},{4,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,339}}</string>
                <key>sourceSize</key>
                <string>{4,339}</string>
            </dict>
            <key>kofwinani5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,773},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>kofwinani5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,877},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kofwinani5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,239},{421,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,237}}</string>
                <key>sourceSize</key>
                <string>{421,237}</string>
            </dict>
            <key>kofwinani5_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,655},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>kofwinani6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,350},{276,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,103}}</string>
                <key>sourceSize</key>
                <string>{276,103}</string>
            </dict>
            <key>kofwinani6_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,736},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kofwinani6_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{421,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,237}}</string>
                <key>sourceSize</key>
                <string>{421,237}</string>
            </dict>
            <key>kofwinani6_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,957},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>kofwinani7_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,655},{218,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,97}}</string>
                <key>sourceSize</key>
                <string>{218,97}</string>
            </dict>
            <key>kofwinani7_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,813},{177,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,93}}</string>
                <key>sourceSize</key>
                <string>{177,93}</string>
            </dict>
            <key>kofwinani7_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{420,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,237}}</string>
                <key>sourceSize</key>
                <string>{420,237}</string>
            </dict>
            <key>kofwinani7_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,957},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>kofwinani7_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,628},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kofwinani7_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,875},{108,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{108,44}</string>
            </dict>
            <key>kofwinani8_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,233},{417,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,92}}</string>
                <key>sourceSize</key>
                <string>{417,92}</string>
            </dict>
            <key>kofwinani8_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{299,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,360}}</string>
                <key>sourceSize</key>
                <string>{299,360}</string>
            </dict>
            <key>kofwinani8_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{299,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,360}}</string>
                <key>sourceSize</key>
                <string>{299,360}</string>
            </dict>
            <key>kofwinani_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{244,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,231}}</string>
                <key>sourceSize</key>
                <string>{244,231}</string>
            </dict>
            <key>kofwinani_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,655},{239,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kofanipng.png</string>
            <key>size</key>
            <string>{1870,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2956af2b80e4170b8b55560d33df87b3:8e31cbc52e23614748476f6116f34cf9:755333ce3bde5ca7f3b805ffb2c6d54f$</string>
            <key>textureFileName</key>
            <string>kofanipng.png</string>
        </dict>
    </dict>
</plist>
