<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helpback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>helpback27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{872,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,92}}</string>
                <key>sourceSize</key>
                <string>{872,92}</string>
            </dict>
            <key>kofgameback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>m1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{469,1545},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>m2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{313,1545},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>m3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{157,1545},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>m4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1545},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>m5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1449},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>m6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{877,1449},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kofjpgres.jpg</string>
            <key>size</key>
            <string>{1282,1692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac3fe6c3cc85e7b1db62dd54a6961f7:dcee3abb0ea083b405bccafe847b15e4:3784bb2ba7cf309c915dd210a8116784$</string>
            <key>textureFileName</key>
            <string>kofjpgres.jpg</string>
        </dict>
    </dict>
</plist>
