<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bm1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,202},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>bm2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>bm3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{608,1284},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>bm4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{408,1284},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>bm5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{208,1284},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>bm6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{862,600},{196,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,152}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>bm7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{862,402},{196,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,152}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>bm8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,1002},{196,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,152}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>gameback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gamelogo.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{204,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,12}}</string>
                <key>sourceSize</key>
                <string>{204,12}</string>
            </dict>
            <key>m1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{808,1156},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,136}}</string>
                <key>sourceSize</key>
                <string>{198,136}</string>
            </dict>
            <key>m2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,802},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,136}}</string>
                <key>sourceSize</key>
                <string>{198,136}</string>
            </dict>
            <key>m3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,602},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,136}}</string>
                <key>sourceSize</key>
                <string>{198,136}</string>
            </dict>
            <key>m4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{724,402},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,136}}</string>
                <key>sourceSize</key>
                <string>{198,136}</string>
            </dict>
            <key>m5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,136}}</string>
                <key>sourceSize</key>
                <string>{198,136}</string>
            </dict>
            <key>m6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{862,798},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>m7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{878,200},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>m8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunkjpgres.jpg</string>
            <key>size</key>
            <string>{1016,1438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc54f57797295116dbffc4c1f1a3832:a0ff246023be5dc3d9bba8e711de2d2d:ee0205fc3a24f409b396a0e1a14450a5$</string>
            <key>textureFileName</key>
            <string>slamdunkjpgres.jpg</string>
        </dict>
    </dict>
</plist>
