<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sdani1_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{174,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,74}}</string>
                <key>sourceSize</key>
                <string>{174,74}</string>
            </dict>
            <key>sdani1_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,964}}</string>
                <key>sourceSize</key>
                <string>{400,964}</string>
            </dict>
            <key>sdani1_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,1267},{400,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,224}}</string>
                <key>sourceSize</key>
                <string>{400,224}</string>
            </dict>
            <key>sdani1_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{806,908},{400,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,230}}</string>
                <key>sourceSize</key>
                <string>{400,230}</string>
            </dict>
            <key>sdani1_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{400,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,168}}</string>
                <key>sourceSize</key>
                <string>{400,168}</string>
            </dict>
            <key>sdani1_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,187},{400,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,184}}</string>
                <key>sourceSize</key>
                <string>{400,184}</string>
            </dict>
            <key>sdani3_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,1145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,1145}}</string>
                <key>sourceSize</key>
                <string>{400,1145}</string>
            </dict>
            <key>sdani3_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1717},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1549},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1381},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1476},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{842,1476},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1213},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1045},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani3_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,877},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,709},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,541},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{806,1308},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,373},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1149},{400,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,572}}</string>
                <key>sourceSize</key>
                <string>{400,572}</string>
            </dict>
            <key>sdani4_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{806,1140},{400,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
            <key>sdani4_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,968},{400,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,297}}</string>
                <key>sourceSize</key>
                <string>{400,297}</string>
            </dict>
            <key>sdani4_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1393},{400,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,160}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>sdani4_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1208},{400,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,160}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>sdani4_010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1610,991},{400,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,160}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>sdani4_011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1610,589},{400,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,160}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>sdani4_012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1610,187},{400,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,160}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>sdani5_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{446,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,183}}</string>
                <key>sourceSize</key>
                <string>{446,183}</string>
            </dict>
            <key>sdani5_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{626,1493},{400,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,214}}</string>
                <key>sourceSize</key>
                <string>{400,214}</string>
            </dict>
            <key>sdani5_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,1493},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>sdani5_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,904}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,904}}</string>
                <key>sourceSize</key>
                <string>{400,904}</string>
            </dict>
            <key>sdani5_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1772,806},{400,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,162}}</string>
                <key>sourceSize</key>
                <string>{400,162}</string>
            </dict>
            <key>sdani5_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1772,404},{400,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,162}}</string>
                <key>sourceSize</key>
                <string>{400,162}</string>
            </dict>
            <key>sdani5_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{400,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,162}}</string>
                <key>sourceSize</key>
                <string>{400,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunkainjpg.jpg</string>
            <key>size</key>
            <string>{1936,1895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:814b23141f239d717366f38029b44fb1:15f1331886b283898061d2d012636d79:fbe60c5836cd77b6787beebec0824764$</string>
            <key>textureFileName</key>
            <string>slamdunkainjpg.jpg</string>
        </dict>
    </dict>
</plist>
