<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sdani2_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{551,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,225}}</string>
                <key>sourceSize</key>
                <string>{551,225}</string>
            </dict>
            <key>sdani2_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{400,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,514}}</string>
                <key>sourceSize</key>
                <string>{400,514}</string>
            </dict>
            <key>sdani2_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1152,168},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{746,334},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{746,168},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{570,679},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{229,1170},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani2_010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,679},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>sdani6_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{229,1576},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani6_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{395,1572},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani6_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1536},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani6_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1536},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani6_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1542},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani6_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1780},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1620},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{555,1487},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1554,351},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1134},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1134},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1138,974},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1148,814},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1148,654},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1152,494},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani7_010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1140},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani8_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{400,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,494}}</string>
                <key>sourceSize</key>
                <string>{400,494}</string>
            </dict>
            <key>sdani8_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1460},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani8_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1300},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani8_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1140},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani8_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{555,1085},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani8_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{395,1170},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani9_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{736,980},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani9_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{736,820},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani9_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{746,660},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani9_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1152,334},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdani9_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{746,500},{400,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,158}</string>
            </dict>
            <key>sdnormalani1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{233,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,154}}</string>
                <key>sourceSize</key>
                <string>{233,154}</string>
            </dict>
            <key>sdnormalani2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1237},{210,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,154}}</string>
                <key>sourceSize</key>
                <string>{210,154}</string>
            </dict>
            <key>sdnormalani3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1597,753},{255,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,154}}</string>
                <key>sourceSize</key>
                <string>{255,154}</string>
            </dict>
            <key>sdnormalani4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1597,2},{347,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,154}}</string>
                <key>sourceSize</key>
                <string>{347,154}</string>
            </dict>
            <key>sdnormalani5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{772,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,154}}</string>
                <key>sourceSize</key>
                <string>{772,154}</string>
            </dict>
            <key>sdnormalani6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1010},{225,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,154}}</string>
                <key>sourceSize</key>
                <string>{225,154}</string>
            </dict>
            <key>sdwinani2_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,1085},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>sdwinani2_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,158},{340,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,519}}</string>
                <key>sourceSize</key>
                <string>{340,519}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunkainjpg1.jpg</string>
            <key>size</key>
            <string>{1753,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed6a0a86d978aeec5c189c02819dee9:74f5da092fda621fad3e8994ec90cdcb:273299fe8b80565edae201182ac59e81$</string>
            <key>textureFileName</key>
            <string>slamdunkainjpg1.jpg</string>
        </dict>
    </dict>
</plist>
