<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autoback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{187,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,352}}</string>
                <key>sourceSize</key>
                <string>{187,352}</string>
            </dict>
            <key>btnslamdunk10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1729},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1861},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1545},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1900},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1988},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1992},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1900},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1988},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk13_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1946},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk13_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1944},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk14_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1900},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk14_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1946},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk14_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1983},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk15_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1419},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>btnslamdunk15_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1370},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>btnslamdunk16_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1321},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>btnslamdunk16_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1272},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>btnslamdunk17_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1730},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk17_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1900},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk18_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1844},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>btnslamdunk18_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1548},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{180,46}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>btnslamdunk19_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1810},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk19_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1982},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1788},{191,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,79}}</string>
                <key>sourceSize</key>
                <string>{191,79}</string>
            </dict>
            <key>btnslamdunk1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1844},{181,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{181,75}}</string>
                <key>sourceSize</key>
                <string>{191,79}</string>
            </dict>
            <key>btnslamdunk1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1707},{191,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,79}}</string>
                <key>sourceSize</key>
                <string>{191,79}</string>
            </dict>
            <key>btnslamdunk20_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1810},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk20_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1938},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnslamdunk21_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1464},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk21_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1648},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk21_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1567},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk22_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1874},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>btnslamdunk22_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1810},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>btnslamdunk2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1626},{194,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,79}}</string>
                <key>sourceSize</key>
                <string>{194,79}</string>
            </dict>
            <key>btnslamdunk2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1861},{184,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{184,75}}</string>
                <key>sourceSize</key>
                <string>{194,79}</string>
            </dict>
            <key>btnslamdunk2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1548},{194,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,79}}</string>
                <key>sourceSize</key>
                <string>{194,79}</string>
            </dict>
            <key>btnslamdunk3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1486},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1861},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1383},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{254,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,942},{242,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{242,99}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,736},{254,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,631},{254,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,841},{242,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{242,99}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,274},{254,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{254,103}</string>
            </dict>
            <key>btnslamdunk6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1302},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk6_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1673},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk6_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1405},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk7_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1324},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk7_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1485},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk7_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1221},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk8_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1140},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk8_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1297},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk8_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1243},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk9_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk9_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1109},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{186,75}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>btnslamdunk9_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1081},{196,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,79}}</string>
                <key>sourceSize</key>
                <string>{196,79}</string>
            </dict>
            <key>disconnectback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,272}}</string>
                <key>sourceSize</key>
                <string>{460,272}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{1,1}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>gameback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>gameback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{204,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,282}}</string>
                <key>sourceSize</key>
                <string>{204,282}</string>
            </dict>
            <key>gameback3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,631},{244,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,50}}</string>
                <key>sourceSize</key>
                <string>{244,50}</string>
            </dict>
            <key>img_autonum.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,806},{147,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,19}}</string>
                <key>sourceSize</key>
                <string>{147,19}</string>
            </dict>
            <key>img_disconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,877},{236,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,72}}</string>
                <key>sourceSize</key>
                <string>{236,72}</string>
            </dict>
            <key>img_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,809},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{128,36}</string>
            </dict>
            <key>img_error1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,911},{246,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,72}}</string>
                <key>sourceSize</key>
                <string>{246,72}</string>
            </dict>
            <key>img_error2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,555},{312,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{312,74}}</string>
                <key>sourceSize</key>
                <string>{316,74}</string>
            </dict>
            <key>img_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1033},{213,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>img_name.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{284,600},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>img_notenough.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,937},{198,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,34}}</string>
                <key>sourceSize</key>
                <string>{198,34}</string>
            </dict>
            <key>img_opensoudn.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1043},{219,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,95}}</string>
                <key>sourceSize</key>
                <string>{219,95}</string>
            </dict>
            <key>img_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1224},{125,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{125,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>img_sorry.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,985},{213,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>img_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1176},{125,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{125,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>img_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,463},{317,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,135}}</string>
                <key>sourceSize</key>
                <string>{317,135}</string>
            </dict>
            <key>img_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1468},{78,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,111}}</string>
                <key>sourceSize</key>
                <string>{78,111}</string>
            </dict>
            <key>img_word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1776},{66,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{66,131}</string>
            </dict>
            <key>img_word4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1115},{97,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,59}}</string>
                <key>sourceSize</key>
                <string>{97,59}</string>
            </dict>
            <key>lamps1_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,530},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>lamps1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,530},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>noen1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1869},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1842},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1701},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1560},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1419},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1278},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1137},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,668},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>noen2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1810},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1810},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1078},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1047},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1016},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,985},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>noen2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,463},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>setupback.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,406},{147,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,164}}</string>
                <key>sourceSize</key>
                <string>{147,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunkpngres.png</string>
            <key>size</key>
            <string>{631,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16566f05541cef9dd31530338859bee0:f5438933a38b34e2133521139273751a:c15da4b2fa6ec2cdfa779fb4cee4afa2$</string>
            <key>textureFileName</key>
            <string>slamdunkpngres.png</string>
        </dict>
    </dict>
</plist>
