<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sdani1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,54},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sdani4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>sdani6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>sdwinani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sdwinani2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{307,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,50}}</string>
                <key>sourceSize</key>
                <string>{307,50}</string>
            </dict>
            <key>sdwinani2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,60},{308,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,48}}</string>
                <key>sourceSize</key>
                <string>{308,48}</string>
            </dict>
            <key>sdwinani2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunkainpng.png</string>
            <key>size</key>
            <string>{631,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca090f5d1b6c46aa90ad6b5201259c63:7290056d6d32244703c83a22e517fec2:b7667f2b4666188084423a94e31427f3$</string>
            <key>textureFileName</key>
            <string>slamdunkainpng.png</string>
        </dict>
    </dict>
</plist>
