<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd2btn10_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{545,1449},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>sd2btn11_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{409,1449},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>sd2btn12_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{273,1449},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>sd2btn13_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{137,1449},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>sd2btn14_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>sd2gameback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>sd2helpback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunk2jpgres.jpg</string>
            <key>size</key>
            <string>{1282,1509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573d08ec63f4976b712c3e0cc1a637d3:32fc1d85925515acd68f4c89c3f2b064:61f4c007aa8c586262950440a20b3738$</string>
            <key>textureFileName</key>
            <string>slamdunk2jpgres.jpg</string>
        </dict>
    </dict>
</plist>
