<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd2aniperson010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{702,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,464}}</string>
                <key>sourceSize</key>
                <string>{702,464}</string>
            </dict>
            <key>sd2aniperson011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{707,798},{772,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,464}}</string>
                <key>sourceSize</key>
                <string>{772,464}</string>
            </dict>
            <key>sd2aniperson012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1483,975},{612,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,464}}</string>
                <key>sourceSize</key>
                <string>{612,464}</string>
            </dict>
            <key>sd2aniperson013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1},{402,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,464}}</string>
                <key>sourceSize</key>
                <string>{402,464}</string>
            </dict>
            <key>sd2aniperson014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{677,1266},{742,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,464}}</string>
                <key>sourceSize</key>
                <string>{742,464}</string>
            </dict>
            <key>sd2aniperson015.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1141},{672,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,464}}</string>
                <key>sourceSize</key>
                <string>{672,464}</string>
            </dict>
            <key>sd2aniperson016.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{992,330},{522,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,464}}</string>
                <key>sourceSize</key>
                <string>{522,464}</string>
            </dict>
            <key>sd2aniperson017.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1518,469},{502,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,464}}</string>
                <key>sourceSize</key>
                <string>{502,464}</string>
            </dict>
            <key>sd2aniperson110.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{702,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,464}}</string>
                <key>sourceSize</key>
                <string>{702,464}</string>
            </dict>
            <key>sd2aniperson111.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{707,798},{772,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,464}}</string>
                <key>sourceSize</key>
                <string>{772,464}</string>
            </dict>
            <key>sd2aniperson112.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1483,975},{612,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,464}}</string>
                <key>sourceSize</key>
                <string>{612,464}</string>
            </dict>
            <key>sd2aniperson113.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1},{402,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,464}}</string>
                <key>sourceSize</key>
                <string>{402,464}</string>
            </dict>
            <key>sd2aniperson114.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{677,1266},{742,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,464}}</string>
                <key>sourceSize</key>
                <string>{742,464}</string>
            </dict>
            <key>sd2aniperson115.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1141},{672,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,464}}</string>
                <key>sourceSize</key>
                <string>{672,464}</string>
            </dict>
            <key>sd2aniperson116.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{992,330},{522,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,464}}</string>
                <key>sourceSize</key>
                <string>{522,464}</string>
            </dict>
            <key>sd2aniperson117.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1518,469},{502,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,464}}</string>
                <key>sourceSize</key>
                <string>{502,464}</string>
            </dict>
            <key>sd2winani2_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{711,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,325}}</string>
                <key>sourceSize</key>
                <string>{711,325}</string>
            </dict>
            <key>sd2winani3_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{716,1},{800,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,325}}</string>
                <key>sourceSize</key>
                <string>{800,325}</string>
            </dict>
            <key>sd2winani4_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,330},{987,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{987,339}}</string>
                <key>sourceSize</key>
                <string>{987,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunk2ainjpg1.jpg</string>
            <key>size</key>
            <string>{1983,1731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd57834cbe048110771fa9453371e66:16a6e9a09538b17ef7d4a4fbff72c010:73316aa15efe0e0630574002c0d6dd96$</string>
            <key>textureFileName</key>
            <string>slamdunk2ainjpg1.jpg</string>
        </dict>
    </dict>
</plist>
