<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd2winani2_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1405},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani3_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,1405},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani4_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1405},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1171},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,1171},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1171},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,937},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,937},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,937},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,703},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,703},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,703},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,469},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,469},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,469},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,235},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_015.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,235},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_016.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_017.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_018.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>sd2winani_019.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slamdunk2ainjpg.jpg</string>
            <key>size</key>
            <string>{1930,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eb8bda67f276834b89f3c2259eb7dd:75e5a46454bf518ab9f51803f89c4caa:da07862409529f6cd1e8188ab49d7258$</string>
            <key>textureFileName</key>
            <string>slamdunk2ainjpg.jpg</string>
        </dict>
    </dict>
</plist>
