<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>butterfly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,412},{69,65}}</string>
				<key>offset</key>
				<string>{-6,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,429},{70,68}}</string>
				<key>offset</key>
				<string>{-4,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,361},{75,68}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,421},{80,64}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,366},{93,57}}</string>
				<key>offset</key>
				<string>{12,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,366},{96,60}}</string>
				<key>offset</key>
				<string>{8,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{113,62}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{104,68}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly09.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,426},{78,73}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly10.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,429},{67,74}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly11.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,0},{58,75}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly12.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,75},{55,74}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly13.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,345},{71,67}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly14.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,361},{75,60}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly15.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,426},{79,70}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>butterfly16.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,423},{74,72}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fallingflower01.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,0},{168,181}}</string>
				<key>offset</key>
				<string>{25,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower02.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{172,192}}</string>
				<key>offset</key>
				<string>{16,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower03.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,181},{150,157}}</string>
				<key>offset</key>
				<string>{13,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower04.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,345},{148,163}}</string>
				<key>offset</key>
				<string>{6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower05.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,168},{139,165}}</string>
				<key>offset</key>
				<string>{-7,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower06.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,338},{136,174}}</string>
				<key>offset</key>
				<string>{-16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower07.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,0},{149,168}}</string>
				<key>offset</key>
				<string>{-22,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower08.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,198},{242,163}}</string>
				<key>offset</key>
				<string>{14,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{253,168}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{264,198}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower11.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{203,170}}</string>
				<key>offset</key>
				<string>{21,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
			<key>fallingflower12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,192},{211,153}}</string>
				<key>offset</key>
				<string>{13,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>animclip.png</string>
			<key>realTextureFileName</key>
			<string>animclip.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>