<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AutoGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,757},{303,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,383}</string>
			</dict>
			<key>BKGWinCongratulations.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1688,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1688,189}</string>
			</dict>
			<key>ButtonAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,1683},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>ButtonAdd_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,1779},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>ButtonAuto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,192},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonAutoStop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,437},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonBetMax.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,682},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonBetMax_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,927},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonBetOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,1062},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonBetOne_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,1307},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>ButtonConfig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,1844},{83,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,90}</string>
			</dict>
			<key>ButtonExit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,1381},{132,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,135}</string>
			</dict>
			<key>ButtonMinus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1693},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>ButtonMinus_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1729},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>ButtonStartRoll.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1314},{263,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,263}</string>
			</dict>
			<key>ButtonStopRoll.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,1579},{263,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,263}</string>
			</dict>
			<key>ButtonStopRoll_G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,1592},{263,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,263}</string>
			</dict>
			<key>Card0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1090},{248,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,302}</string>
			</dict>
			<key>Card0f.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,757},{248,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,350}</string>
			</dict>
			<key>Card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1284},{248,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,303}</string>
			</dict>
			<key>Card1f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,415},{248,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,352}</string>
			</dict>
			<key>Card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,1062},{250,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,281}</string>
			</dict>
			<key>Card2f.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,951},{248,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,331}</string>
			</dict>
			<key>Card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1340},{250,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,281}</string>
			</dict>
			<key>Card3f.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1109},{248,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,331}</string>
			</dict>
			<key>Card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1358},{250,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,281}</string>
			</dict>
			<key>Card4f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{248,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,331}</string>
			</dict>
			<key>Card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1087},{293,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,269}</string>
			</dict>
			<key>Card5f.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,499},{292,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,319}</string>
			</dict>
			<key>Card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1442},{293,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,269}</string>
			</dict>
			<key>Card6f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,769},{292,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,319}</string>
			</dict>
			<key>Card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1473},{293,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,269}</string>
			</dict>
			<key>Card7f.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,793},{292,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,319}</string>
			</dict>
			<key>Decorate01.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,499},{117,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,266}</string>
			</dict>
			<key>Decorate02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,1172},{207,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,142}</string>
			</dict>
			<key>ErrorText0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,308},{286,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,105}</string>
			</dict>
			<key>ErrorText1.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,708},{302,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,47}</string>
			</dict>
			<key>ErrorText2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,352},{298,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,47}</string>
			</dict>
			<key>ErrorText3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,708},{340,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,46}</string>
			</dict>
			<key>Human.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{359,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,464}</string>
			</dict>
			<key>HumanHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,708},{241,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,242}</string>
			</dict>
			<key>MusicOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1643},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>MusicOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1789},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>PromptButton1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,1515},{176,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,67}</string>
			</dict>
			<key>Rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,1},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>SettingBKG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,1552},{163,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,129}</string>
			</dict>
			<key>SoundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1502,1826},{83,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,91}</string>
			</dict>
			<key>SoundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,1844},{83,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,91}</string>
			</dict>
			<key>Text_BIG.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1589},{196,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,116}</string>
			</dict>
			<key>Text_WIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,192},{300,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,114}</string>
			</dict>
			<key>Text_YOUWIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,352},{277,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,65}</string>
			</dict>
			<key>TextWinCongratulations.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,632},{834,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,74}</string>
			</dict>
			<key>TitleImage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,420},{625,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{625,210}</string>
			</dict>
			<key>WinConditionBKG0.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,192},{78,634}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,634}</string>
			</dict>
			<key>WinConditionBKG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,272},{78,634}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,634}</string>
			</dict>
			<key>WinConditionBKG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,419},{78,634}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,634}</string>
			</dict>
			<key>WinConditionNumbers.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,192},{226,611}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,611}</string>
			</dict>
			<key>WinImageBKG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,1},{754,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{754,313}</string>
			</dict>
			<key>TopFlower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1515},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fantasyforest3x1.png</string>
			<key>realTextureFileName</key>
			<string>fantasyforest3x1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>