<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>onepiecefire1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,990},{236,199}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,68},{236,199}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1199},{238,199}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,67},{238,199}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,990},{238,205}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{238,205}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1565},{240,209}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{240,209}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1472},{240,215}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,50},{240,215}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1079},{240,217}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,47},{240,217}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,990},{236,213}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,52},{236,213}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecefire1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1565},{232,203}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{232,203}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>onepiecegold1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1304},{68,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{68,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1230},{78,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1402},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1286},{70,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{70,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1230},{74,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{74,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1332},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1565},{68,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{68,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1376},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{68,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecegold1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1230},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>onepiecelight1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1402},{159,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,520}}</string>
                <key>sourceSize</key>
                <string>{159,520}</string>
            </dict>
            <key>onepiecelight1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1230},{159,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,520}}</string>
                <key>sourceSize</key>
                <string>{159,520}</string>
            </dict>
            <key>onepiecewin1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,603},{623,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,100}}</string>
                <key>sourceSize</key>
                <string>{623,100}</string>
            </dict>
            <key>onepiecewin1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,244},{979,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,239}}</string>
                <key>sourceSize</key>
                <string>{979,239}</string>
            </dict>
            <key>onepiecewin1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,603},{472,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,245}}</string>
                <key>sourceSize</key>
                <string>{472,245}</string>
            </dict>
            <key>onepiecewin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,487},{308,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,112}}</string>
                <key>sourceSize</key>
                <string>{308,112}</string>
            </dict>
            <key>onepiecewin2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{383,659}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,659}}</string>
                <key>sourceSize</key>
                <string>{383,659}</string>
            </dict>
            <key>onepiecewin3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{705,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,112}}</string>
                <key>sourceSize</key>
                <string>{705,112}</string>
            </dict>
            <key>onepiecewin4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1230},{549,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,112}}</string>
                <key>sourceSize</key>
                <string>{549,112}</string>
            </dict>
            <key>onepiecewin4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{979,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,239}}</string>
                <key>sourceSize</key>
                <string>{979,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onepieceanipng.png</string>
            <key>size</key>
            <string>{1020,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1db9e77140ceb78d2a586041aea8774c:8a4a59642a16d24886eace465228ef30:af810c4c47c8110f8375c297a48871ed$</string>
            <key>textureFileName</key>
            <string>onepieceanipng.png</string>
        </dict>
    </dict>
</plist>
