<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>onepiecemoveani1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{733,1888},{409,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,86}}</string>
                <key>sourceSize</key>
                <string>{409,86}</string>
            </dict>
            <key>onepiecemoveani1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1497},{409,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,86}}</string>
                <key>sourceSize</key>
                <string>{409,86}</string>
            </dict>
            <key>onepiecemoveani1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1919},{409,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,86}}</string>
                <key>sourceSize</key>
                <string>{409,86}</string>
            </dict>
            <key>onepiecetrans1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{733,1701},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1310},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1123},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1291,936},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1291,749},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1326,562},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1326,375},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1335,188},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecetrans1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1},{321,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,183}}</string>
                <key>sourceSize</key>
                <string>{321,183}</string>
            </dict>
            <key>onepiecewin1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{817,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,504}}</string>
                <key>sourceSize</key>
                <string>{817,504}</string>
            </dict>
            <key>onepiecewin1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1517},{484,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,224}}</string>
                <key>sourceSize</key>
                <string>{484,224}</string>
            </dict>
            <key>onepiecewin1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{822,1},{509,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,286}}</string>
                <key>sourceSize</key>
                <string>{509,286}</string>
            </dict>
            <key>onepiecewin1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1497},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{787,1419},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{787,1137},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1637},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1355},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1073},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1013},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{787,855},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{787,573},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,509},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
            <key>onepiecewin1_18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{822,291},{500,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,278}}</string>
                <key>sourceSize</key>
                <string>{500,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onepieceanijpg.jpg</string>
            <key>size</key>
            <string>{1660,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce34a0a66c300330fdcf177a86056ac:4c628313ca41121f1bed3f116270f808:a1f26b6b6fe9b2351c65fc298102cb92$</string>
            <key>textureFileName</key>
            <string>onepieceanijpg.jpg</string>
        </dict>
    </dict>
</plist>
