<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>onepiecelight2_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1804},{127,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,571}}</string>
                <key>sourceSize</key>
                <string>{127,571}</string>
            </dict>
            <key>onepiecelight2_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,1094},{127,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,571}}</string>
                <key>sourceSize</key>
                <string>{127,571}</string>
            </dict>
            <key>onepiecelight2_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,519},{127,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,571}}</string>
                <key>sourceSize</key>
                <string>{127,571}</string>
            </dict>
            <key>onepiecewin3_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{576,1680},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{586,1423},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1363},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{843,969},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1100,909},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1100,455},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{843,515},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{586,969},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin3_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{586,515},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{484,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,224}}</string>
                <key>sourceSize</key>
                <string>{484,224}</string>
            </dict>
            <key>onepiecewin4_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{509,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,286}}</string>
                <key>sourceSize</key>
                <string>{509,286}</string>
            </dict>
            <key>onepiecewin4_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{514,258},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{968,1},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1547},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1290},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1033},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,776},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,519},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
            <key>onepiecewin4_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{514,1},{450,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,253}}</string>
                <key>sourceSize</key>
                <string>{450,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onepieceanijpg2.jpg</string>
            <key>size</key>
            <string>{1354,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b78bb63e98813b6299527bb27006a:5491bf10f8ffdaa03a311814d6c8a165:7927aacf75698d5fd5d3677580563da3$</string>
            <key>textureFileName</key>
            <string>onepieceanijpg2.jpg</string>
        </dict>
    </dict>
</plist>
