<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newyear_anipng_freegame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1876},{93,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,78}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>newyear_anipng_freegame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1270},{551,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,239}}</string>
                <key>sourceSize</key>
                <string>{551,239}</string>
            </dict>
            <key>newyear_anipng_freegame_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1},{570,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,258}}</string>
                <key>sourceSize</key>
                <string>{570,258}</string>
            </dict>
            <key>newyear_anipng_freegame_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1015},{548,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,251}}</string>
                <key>sourceSize</key>
                <string>{548,251}</string>
            </dict>
            <key>newyear_anipng_freegame_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1198},{105,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,64}}</string>
                <key>sourceSize</key>
                <string>{105,64}</string>
            </dict>
            <key>newyear_anipng_freegame_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,557},{546,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,163}}</string>
                <key>sourceSize</key>
                <string>{546,163}</string>
            </dict>
            <key>newyear_anipng_freegame_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1513},{554,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,235}}</string>
                <key>sourceSize</key>
                <string>{554,235}</string>
            </dict>
            <key>newyear_anipng_freegame_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1107},{549,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,157}}</string>
                <key>sourceSize</key>
                <string>{549,157}</string>
            </dict>
            <key>newyear_back_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,679}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,679}}</string>
                <key>sourceSize</key>
                <string>{640,679}</string>
            </dict>
            <key>newyear_back_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{299,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{299,552}}</string>
                <key>sourceSize</key>
                <string>{299,554}</string>
            </dict>
            <key>newyear_back_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1752},{242,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,473}}</string>
                <key>sourceSize</key>
                <string>{242,473}</string>
            </dict>
            <key>newyear_back_help3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1339},{190,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,110}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>newyear_back_help4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1533},{182,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{182,180}}</string>
                <key>sourceSize</key>
                <string>{186,182}</string>
            </dict>
            <key>newyear_back_help5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1498},{193,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{193,99}}</string>
                <key>sourceSize</key>
                <string>{197,101}</string>
            </dict>
            <key>newyear_back_help6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,684},{309,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,193}}</string>
                <key>sourceSize</key>
                <string>{309,193}</string>
            </dict>
            <key>newyear_back_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,684},{511,327}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{511,327}}</string>
                <key>sourceSize</key>
                <string>{517,327}</string>
            </dict>
            <key>newyear_back_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1752},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>newyear_btn_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1077},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>newyear_btn_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,557},{117,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>newyear_btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1620},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>newyear_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1958},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>newyear_btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1087},{154,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,58}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>newyear_btn_ok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1307},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>newyear_help4_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1998},{30,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,521}}</string>
                <key>sourceSize</key>
                <string>{30,521}</string>
            </dict>
            <key>newyear_help4_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,684},{842,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,28}}</string>
                <key>sourceSize</key>
                <string>{842,28}</string>
            </dict>
            <key>newyear_help4_img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,575},{508,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,206}}</string>
                <key>sourceSize</key>
                <string>{508,206}</string>
            </dict>
            <key>newyear_help4_img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,997},{40,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,452}}</string>
                <key>sourceSize</key>
                <string>{40,452}</string>
            </dict>
            <key>newyear_help_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,575},{134,6}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{134,6}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line10.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1738},{134,60}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line11.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1885},{134,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{134,76}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1899},{134,48}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line13.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1979},{134,48}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line14.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1660},{134,74}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1823},{134,72}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1951},{134,42}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{134,42}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1997},{134,46}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line18.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1879},{134,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{134,96}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line19.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1747},{134,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{134,96}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2032},{134,12}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{134,12}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1717},{134,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{134,102}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2032},{134,10}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{134,10}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1738},{134,108}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{134,108}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1717},{134,106}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{134,106}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1827},{134,48}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1695},{134,48}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1965},{134,74}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_help_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1966},{134,76}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,76}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>newyear_img_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1245},{90,21}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,21}}</string>
                <key>sourceSize</key>
                <string>{126,25}</string>
            </dict>
            <key>newyear_img_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,557},{94,21}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,21}}</string>
                <key>sourceSize</key>
                <string>{126,25}</string>
            </dict>
            <key>newyear_img_help3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1453},{126,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,21}}</string>
                <key>sourceSize</key>
                <string>{126,25}</string>
            </dict>
            <key>newyear_img_help4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1899},{126,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,21}}</string>
                <key>sourceSize</key>
                <string>{126,25}</string>
            </dict>
            <key>newyear_img_help5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1899},{126,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,21}}</string>
                <key>sourceSize</key>
                <string>{126,25}</string>
            </dict>
            <key>newyear_img_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1530},{183,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,21}}</string>
                <key>sourceSize</key>
                <string>{183,21}</string>
            </dict>
            <key>newyear_img_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1087},{310,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,52}}</string>
                <key>sourceSize</key>
                <string>{310,52}</string>
            </dict>
            <key>newyear_img_word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1087},{248,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,53}}</string>
                <key>sourceSize</key>
                <string>{248,53}</string>
            </dict>
            <key>newyear_img_word4.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1401},{215,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,52}}</string>
                <key>sourceSize</key>
                <string>{215,52}</string>
            </dict>
            <key>newyear_title_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,997},{497,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,97}}</string>
                <key>sourceSize</key>
                <string>{497,97}</string>
            </dict>
            <key>newyear_title_payline.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1107},{498,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,74}}</string>
                <key>sourceSize</key>
                <string>{500,74}</string>
            </dict>
            <key>newyear_title_paytable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,575},{498,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,74}}</string>
                <key>sourceSize</key>
                <string>{500,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newyear_png3.png</string>
            <key>size</key>
            <string>{1212,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80d6805ee220ab453d05b95682f40512:1/1$</string>
            <key>textureFileName</key>
            <string>newyear_png3.png</string>
        </dict>
    </dict>
</plist>
