<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newyear_anijpg_fireworks_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1088,653},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,104}</string>
            </dict>
            <key>newyear_anijpg_fireworks_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1726,973},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1726,649},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1726,325},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{325,1558},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1558},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1331},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1088,545},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,104}</string>
            </dict>
            <key>newyear_anijpg_fireworks_21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{855,1517},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1331},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{855,1193},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{764,869},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{440,869},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{764,545},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{440,545},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_img11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{654,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,435}}</string>
                <key>sourceSize</key>
                <string>{654,435}</string>
            </dict>
            <key>newyear_anijpg_img12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1203},{850,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,351}}</string>
                <key>sourceSize</key>
                <string>{850,351}</string>
            </dict>
            <key>newyear_anijpg_img13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{1326,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1326,437}}</string>
                <key>sourceSize</key>
                <string>{1326,437}</string>
            </dict>
            <key>newyear_anijpg_img14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1088,761},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>newyear_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,540}}</string>
                <key>sourceSize</key>
                <string>{1280,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newyear_jpg.jpg</string>
            <key>size</key>
            <string>{2047,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395c647875d1dba721dc5424990b6f7e:1/1$</string>
            <key>textureFileName</key>
            <string>newyear_jpg.jpg</string>
        </dict>
    </dict>
</plist>
