<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newyear_anijpg_fireworks_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1567},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{802,1567},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{478,1567},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1459,973},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1459,649},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1459,325},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_fireworks_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>newyear_anijpg_img1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{377,1796},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newyear_anijpg_img10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1439},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,104}</string>
            </dict>
            <key>newyear_anijpg_img2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1796},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>newyear_anijpg_img3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1297},{308,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,148}}</string>
                <key>sourceSize</key>
                <string>{308,148}</string>
            </dict>
            <key>newyear_anijpg_img4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1609},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>newyear_anijpg_img5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1845},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>newyear_anijpg_img6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1297},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>newyear_anijpg_img7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1775},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>newyear_anijpg_img8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1609},{158,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,162}}</string>
                <key>sourceSize</key>
                <string>{158,162}</string>
            </dict>
            <key>newyear_anijpg_img9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1567},{225,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,473}}</string>
                <key>sourceSize</key>
                <string>{225,473}</string>
            </dict>
            <key>newyear_anijpg_light_1_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1297},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>newyear_anijpg_light_1_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{119,1796},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>newyear_anijpg_light_1_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{273,1845},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>newyear_anijpg_light_1_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1551},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>newyear_anijpg_light_1_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1763},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>newyear_anijpg_light_2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1775},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,75}</string>
            </dict>
            <key>newyear_anijpg_light_2_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1775},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>newyear_anijpg_light_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1837},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>newyear_anijpg_light_4_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1297},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>newyear_anijpg_light_4_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{119,1868},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>newyear_anijpg_light_5_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{248,1796},{125,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,45}}</string>
                <key>sourceSize</key>
                <string>{125,45}</string>
            </dict>
            <key>newyear_anijpg_light_5_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1389},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>newyear_anijpg_light_5_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1547},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>newyear_anijpg_river1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1393},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1393},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1219},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,697},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1219},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,697},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
            <key>newyear_anijpg_river9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,170}}</string>
                <key>sourceSize</key>
                <string>{1280,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newyear_anijpg.jpg</string>
            <key>size</key>
            <string>{1780,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be68dcb9cb1b08ccc6475511aa22a3af:1/1$</string>
            <key>textureFileName</key>
            <string>newyear_anijpg.jpg</string>
        </dict>
    </dict>
</plist>
