<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>san1_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,727},{1280,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,138}}</string>
                <key>sourceSize</key>
                <string>{1280,138}</string>
            </dict>
            <key>san1_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,869},{1280,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,124}}</string>
                <key>sourceSize</key>
                <string>{1280,124}</string>
            </dict>
            <key>san1_back3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1132},{160,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,458}}</string>
                <key>sourceSize</key>
                <string>{160,458}</string>
            </dict>
            <key>san1_back4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1867,951},{163,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,458}}</string>
                <key>sourceSize</key>
                <string>{163,458}</string>
            </dict>
            <key>san1_back5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{795,1172},{213,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,458}}</string>
                <key>sourceSize</key>
                <string>{213,458}</string>
            </dict>
            <key>san1_back6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1405,951},{177,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,458}}</string>
                <key>sourceSize</key>
                <string>{177,458}</string>
            </dict>
            <key>san1_back7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>san1_img_c1info.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1952,3},{292,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,85}}</string>
                <key>sourceSize</key>
                <string>{292,85}</string>
            </dict>
            <key>san1_img_pfxinfo.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,1302},{788,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,97}}</string>
                <key>sourceSize</key>
                <string>{788,97}</string>
            </dict>
            <key>san1_img_wwinfo.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1172},{292,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,115}}</string>
                <key>sourceSize</key>
                <string>{292,115}</string>
            </dict>
            <key>san1_img_zbgback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1596,3},{618,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,352}}</string>
                <key>sourceSize</key>
                <string>{618,352}</string>
            </dict>
            <key>san1_img_zbgback2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1603,625},{373,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,322}}</string>
                <key>sourceSize</key>
                <string>{373,322}</string>
            </dict>
            <key>san1_sssback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,997},{301,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,720}}</string>
                <key>sourceSize</key>
                <string>{301,720}</string>
            </dict>
            <key>san1_sssback2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{727,997},{674,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,171}}</string>
                <key>sourceSize</key>
                <string>{674,171}</string>
            </dict>
            <key>san1_sssback3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1287,3},{305,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,720}}</string>
                <key>sourceSize</key>
                <string>{305,720}</string>
            </dict>
            <key>san1_sssback4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,1403},{674,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,63}}</string>
                <key>sourceSize</key>
                <string>{674,63}</string>
            </dict>
            <key>san1_sssback5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1287,727},{312,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,200}}</string>
                <key>sourceSize</key>
                <string>{312,200}</string>
            </dict>
            <key>san1_sssback6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1296},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
            <key>san1_sssback7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1296},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>san1jpg.jpg</string>
            <key>size</key>
            <string>{2040,1469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd2f58ecd130409c50e97a666d8f14d0:1/1$</string>
            <key>textureFileName</key>
            <string>san1jpg.jpg</string>
        </dict>
    </dict>
</plist>
