<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saintbonuswin_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{160,1211},{155,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,80}}</string>
                <key>sourceSize</key>
                <string>{155,80}</string>
            </dict>
            <key>saintbonuswin_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1211},{155,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,80}}</string>
                <key>sourceSize</key>
                <string>{155,80}</string>
            </dict>
            <key>saintchgcolor_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{297,1295},{43,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,144}}</string>
                <key>sourceSize</key>
                <string>{43,144}</string>
            </dict>
            <key>saintchgcolor_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{149,1295},{43,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,144}}</string>
                <key>sourceSize</key>
                <string>{43,144}</string>
            </dict>
            <key>saintchgcolor_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1295},{43,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,144}}</string>
                <key>sourceSize</key>
                <string>{43,144}</string>
            </dict>
            <key>saintfreeani_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{647,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,187}}</string>
                <key>sourceSize</key>
                <string>{647,187}</string>
            </dict>
            <key>saintfreeani_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1300,931},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>saintrunani1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1549,965},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1801,931},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1549,769},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1801,679},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1549,573},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1296,679},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1296,447},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1097,253},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintrunani1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1296,251},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>saintwin1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{319,1182},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>saintwin1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,652},{555,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,180}}</string>
                <key>sourceSize</key>
                <string>{555,180}</string>
            </dict>
            <key>saintwin1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1025,939},{271,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,227}}</string>
                <key>sourceSize</key>
                <string>{271,227}</string>
            </dict>
            <key>saintwin1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{881,509},{411,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,426}}</string>
                <key>sourceSize</key>
                <string>{411,426}</string>
            </dict>
            <key>saintwin1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1},{246,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,245}}</string>
                <key>sourceSize</key>
                <string>{246,245}</string>
            </dict>
            <key>saintwin1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1549,311},{263,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,258}}</string>
                <key>sourceSize</key>
                <string>{263,258}</string>
            </dict>
            <key>saintwin1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{589,1046},{432,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,132}}</string>
                <key>sourceSize</key>
                <string>{432,132}</string>
            </dict>
            <key>saintwin1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{192,530},{174,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,72}}</string>
                <key>sourceSize</key>
                <string>{174,72}</string>
            </dict>
            <key>saintwin1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{454,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,504}}</string>
                <key>sourceSize</key>
                <string>{454,504}</string>
            </dict>
            <key>saintwin2_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{859,1182},{410,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,137}}</string>
                <key>sourceSize</key>
                <string>{410,137}</string>
            </dict>
            <key>saintwin2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,1161},{180,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,177}}</string>
                <key>sourceSize</key>
                <string>{180,177}</string>
            </dict>
            <key>saintwin2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,495},{180,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,177}}</string>
                <key>sourceSize</key>
                <string>{180,177}</string>
            </dict>
            <key>saintwin2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,311},{180,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,177}}</string>
                <key>sourceSize</key>
                <string>{180,177}</string>
            </dict>
            <key>saintwin2_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1549,1},{357,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,306}}</string>
                <key>sourceSize</key>
                <string>{357,306}</string>
            </dict>
            <key>saintwin2_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{192,1},{525,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,443}}</string>
                <key>sourceSize</key>
                <string>{525,443}</string>
            </dict>
            <key>saintwin2_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{589,530},{512,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,288}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>saintwin2_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1170},{272,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,170}}</string>
                <key>sourceSize</key>
                <string>{272,170}</string>
            </dict>
            <key>saintwin2_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{185,652},{400,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,526}}</string>
                <key>sourceSize</key>
                <string>{400,526}</string>
            </dict>
            <key>saintwin3_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{445,1182},{410,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,137}}</string>
                <key>sourceSize</key>
                <string>{410,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saintanijpg.jpg</string>
            <key>size</key>
            <string>{1994,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a33c3e3f0ef05b1c9d331b52f211608:ec4f9efb38b0ee05479d1e461fc97ff8:9320aad17a78c491337b577fb37d4299$</string>
            <key>textureFileName</key>
            <string>saintanijpg.jpg</string>
        </dict>
    </dict>
</plist>
