<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saintgameback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,893},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>sainthelpback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>saintimg_fire1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{771,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{701,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{631,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{561,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{491,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{421,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{351,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{281,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{211,113},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{141,104},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{71,104},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,104},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1191,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1121,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1051,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{981,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{911,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{841,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{771,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{701,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{631,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire2_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{561,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{491,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{421,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{351,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{281,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{211,57},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{141,48},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{71,48},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire3_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{976,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{906,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{836,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{766,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{626,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{556,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{486,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{416,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{346,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_fire4_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{276,1},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>saintimg_line01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{271,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,43}}</string>
                <key>sourceSize</key>
                <string>{271,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saintjpg.jpg</string>
            <key>size</key>
            <string>{1282,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa11546a5e44a1e2986dd6aa7593beeb:9f668125ad1378c18a1613b6acc8009e:7538725d568e7d40a6cbc3daf7885a50$</string>
            <key>textureFileName</key>
            <string>saintjpg.jpg</string>
        </dict>
    </dict>
</plist>
