<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saintbonusani_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,575},{26,638}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,74},{26,638}}</string>
                <key>sourceSize</key>
                <string>{76,720}</string>
            </dict>
            <key>saintbonusani_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1942},{64,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,552}}</string>
                <key>sourceSize</key>
                <string>{64,552}</string>
            </dict>
            <key>saintbonusani_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1874},{64,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,552}}</string>
                <key>sourceSize</key>
                <string>{64,552}</string>
            </dict>
            <key>saintbonusani_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1806},{64,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,552}}</string>
                <key>sourceSize</key>
                <string>{64,552}</string>
            </dict>
            <key>saintbonusani_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1738},{64,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,552}}</string>
                <key>sourceSize</key>
                <string>{64,552}</string>
            </dict>
            <key>saintbonusani_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1227},{287,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,75}}</string>
                <key>sourceSize</key>
                <string>{287,75}</string>
            </dict>
            <key>saintbonusani_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1157},{306,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,154}}</string>
                <key>sourceSize</key>
                <string>{306,154}</string>
            </dict>
            <key>saintchgcolor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1227},{274,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,106}}</string>
                <key>sourceSize</key>
                <string>{274,106}</string>
            </dict>
            <key>saintchgcolor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1618},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>saintchgcolor_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{361,583}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{361,583}}</string>
                <key>sourceSize</key>
                <string>{373,601}</string>
            </dict>
            <key>saintchgcolor_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1658},{76,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,720}}</string>
                <key>sourceSize</key>
                <string>{76,720}</string>
            </dict>
            <key>saintchgcolor_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1081},{142,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,386}}</string>
                <key>sourceSize</key>
                <string>{142,386}</string>
            </dict>
            <key>saintchgcolor_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1738},{236,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,192}}</string>
                <key>sourceSize</key>
                <string>{236,192}</string>
            </dict>
            <key>saintfreeani_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1467},{335,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,101}}</string>
                <key>sourceSize</key>
                <string>{335,101}</string>
            </dict>
            <key>saintwin1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1806},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>saintwin1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,588},{565,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,147}}</string>
                <key>sourceSize</key>
                <string>{565,147}</string>
            </dict>
            <key>saintwin1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,588},{552,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,199}}</string>
                <key>sourceSize</key>
                <string>{552,199}</string>
            </dict>
            <key>saintwin1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1486},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>saintwin1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1957},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>saintwin1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1144},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>saintwin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1524},{619,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,130}}</string>
                <key>sourceSize</key>
                <string>{619,130}</string>
            </dict>
            <key>saintwin2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1671},{357,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,306}}</string>
                <key>sourceSize</key>
                <string>{357,306}</string>
            </dict>
            <key>saintwin2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1227},{347,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,293}}</string>
                <key>sourceSize</key>
                <string>{347,293}</string>
            </dict>
            <key>saintwin3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1144},{338,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,128}}</string>
                <key>sourceSize</key>
                <string>{338,128}</string>
            </dict>
            <key>saintwin3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1149},{402,518}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{402,518}}</string>
                <key>sourceSize</key>
                <string>{472,570}</string>
            </dict>
            <key>saintwin3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,571},{410,506}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{410,506}}</string>
                <key>sourceSize</key>
                <string>{472,570}</string>
            </dict>
            <key>saintwin3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1},{426,566}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{426,566}}</string>
                <key>sourceSize</key>
                <string>{472,570}</string>
            </dict>
            <key>saintwin3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{472,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,570}}</string>
                <key>sourceSize</key>
                <string>{472,570}</string>
            </dict>
            <key>saintwin3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,575},{446,570}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,570}}</string>
                <key>sourceSize</key>
                <string>{472,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saintanipng.png</string>
            <key>size</key>
            <string>{1269,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5755a6b4a3ac43a1b40523d44d25b696:d8711f6d8c42880a5377b9ac3f25e865:75e519a8054fb2ec871573943c290ef7$</string>
            <key>textureFileName</key>
            <string>saintanipng.png</string>
        </dict>
    </dict>
</plist>
