<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/benlundefen.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,2},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>effect/iconbackeffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/iconbackeffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,246},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/iconbackeffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/iconbackeffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,734},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/benlundefenguangxiao0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,2},{308,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,154}</string>
			</dict>
			<key>effect/benlundefenguangxiao0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{308,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,154}</string>
			</dict>
			<key>effect/benlundefenguangxiao0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,160},{308,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,154}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,160},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,247},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,318},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,334},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,405},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,334},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,421},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,492},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,421},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,508},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,579},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
			<key>effect/benlundefenguangxiao_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,508},{250,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect.png</string>
			<key>realTextureFileName</key>
			<string>effect.png</string>
			<key>size</key>
			<string>{1000,976}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>976</integer>
		</dict>
	</dict>
</plist>