<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/benlundefenguangxiao0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{308,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,154}</string>
			</dict>
			<key>effect/iconbackeffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/iconbackeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
			<key>effect/iconbackeffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{234,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect2.png</string>
			<key>realTextureFileName</key>
			<string>effect2.png</string>
			<key>size</key>
			<string>{472,640}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>472</integer>
			<key>height</key>
			<integer>640</integer>
		</dict>
	</dict>
</plist>