<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus/bonusTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,2},{1079,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1079,45}</string>
			</dict>
			<key>main/bottom_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,2},{1148,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1148,152}</string>
			</dict>
			<key>main/wheelBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{913,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{913,563}</string>
			</dict>
			<key>main/wheelBack_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2},{912,555}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{912,555}</string>
			</dict>
			<key>mianfeiyouxisucai/james.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,855},{284,876}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,876}</string>
			</dict>
			<key>mianfeiyouxisucai/Kobe.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,569},{282,886}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,886}</string>
			</dict>
			<key>main/sceneChange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,1154},{600,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,720}</string>
			</dict>
			<key>sanfenjiesuan/shang3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,1845},{1280,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,25}</string>
			</dict>
			<key>sanfenjiesuan/shang1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,1874},{1279,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1279,18}</string>
			</dict>
			<key>sanfenjiesuan/landi.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,561},{1280,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1280,353}</string>
			</dict>
			<key>sanfenjiesuan/biankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1143},{620,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{620,347}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>frame.png</string>
			<key>realTextureFileName</key>
			<string>frame.png</string>
			<key>size</key>
			<string>{2038,1894}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2038</integer>
			<key>height</key>
			<integer>1894</integer>
		</dict>
	</dict>
</plist>