<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00000.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{637,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,223},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{637,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{420,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,425},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00014.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{622,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00016.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{420,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00018.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,627},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00020.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{420,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiangguangxiao_00022.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{622,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0020.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0021.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0022.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0023.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0024.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guangxiao3.jpg</string>
			<key>realTextureFileName</key>
			<string>guangxiao3.jpg</string>
			<key>size</key>
			<string>{838,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>838</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>