<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,740},{169,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,214}</string>
			</dict>
			<key>1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{169,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,270}</string>
			</dict>
			<key>1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,505},{169,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,214}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,581},{108,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,120}</string>
			</dict>
			<key>10_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,347},{114,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,200}</string>
			</dict>
			<key>10_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,581},{108,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,120}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,649},{62,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,124}</string>
			</dict>
			<key>11_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,974},{68,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,204}</string>
			</dict>
			<key>11_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,775},{62,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,124}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,503},{143,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,144}</string>
			</dict>
			<key>2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,721},{153,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,228}</string>
			</dict>
			<key>2_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,549},{146,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,147}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,196},{151,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,149}</string>
			</dict>
			<key>3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{161,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,233}</string>
			</dict>
			<key>3_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{151,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,149}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,347},{143,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,149}</string>
			</dict>
			<key>4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{153,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,233}</string>
			</dict>
			<key>4_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,152},{143,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,149}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,956},{152,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,233}</string>
			</dict>
			<key>5_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,698},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,498},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,721},{152,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,233}</string>
			</dict>
			<key>6_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,303},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>7_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,956},{152,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,233}</string>
			</dict>
			<key>7_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,152},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1011},{106,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,117}</string>
			</dict>
			<key>8_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,703},{112,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,197}</string>
			</dict>
			<key>8_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1011},{106,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,117}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,161},{95,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,118}</string>
			</dict>
			<key>9_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,303},{101,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,198}</string>
			</dict>
			<key>9_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,808},{95,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,118}</string>
			</dict>
			<key>1_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{169,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,230}</string>
			</dict>
			<key>10_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,849},{114,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,160}</string>
			</dict>
			<key>11_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,808},{68,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,164}</string>
			</dict>
			<key>2_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,391},{153,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,188}</string>
			</dict>
			<key>3_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,951},{161,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,193}</string>
			</dict>
			<key>4_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1},{153,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,193}</string>
			</dict>
			<key>5_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,196},{152,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,193}</string>
			</dict>
			<key>6_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,196},{152,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,193}</string>
			</dict>
			<key>7_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{152,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,193}</string>
			</dict>
			<key>8_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,649},{112,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,157}</string>
			</dict>
			<key>9_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{101,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icons.png</string>
			<key>realTextureFileName</key>
			<string>icons.png</string>
			<key>size</key>
			<string>{1024,1190}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1190</integer>
		</dict>
	</dict>
</plist>