<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rule/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,824},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>rule/1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,592},{100,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,25}</string>
			</dict>
			<key>rule/1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,323},{89,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,26}</string>
			</dict>
			<key>rule/1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,400},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>rule/1_5xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,780},{59,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,18}</string>
			</dict>
			<key>rule/10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,796},{127,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,25}</string>
			</dict>
			<key>rule/10_13xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,2},{80,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,18}</string>
			</dict>
			<key>rule/10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,218},{114,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,25}</string>
			</dict>
			<key>rule/10_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,621},{100,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,25}</string>
			</dict>
			<key>rule/10_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,336},{83,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,26}</string>
			</dict>
			<key>rule/10_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,2},{155,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,69}</string>
			</dict>
			<key>rule/11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,824},{105,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,25}</string>
			</dict>
			<key>rule/11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,2},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>rule/11_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,285},{77,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,25}</string>
			</dict>
			<key>rule/11_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,190},{130,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,72}</string>
			</dict>
			<key>rule/14_17xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,86},{78,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,18}</string>
			</dict>
			<key>rule/18_20xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,493},{78,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,18}</string>
			</dict>
			<key>rule/2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,218},{104,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,24}</string>
			</dict>
			<key>rule/2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,326},{98,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,24}</string>
			</dict>
			<key>rule/2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,190},{89,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,25}</string>
			</dict>
			<key>rule/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,656},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>rule/3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,324},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>rule/3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,400},{88,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,25}</string>
			</dict>
			<key>rule/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,2},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>rule/4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,353},{92,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,25}</string>
			</dict>
			<key>rule/4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,400},{89,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,25}</string>
			</dict>
			<key>rule/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,110},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>rule/5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,371},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>rule/5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,492},{88,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,25}</string>
			</dict>
			<key>rule/6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,861},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>rule/6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,190},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>rule/6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,493},{87,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,25}</string>
			</dict>
			<key>rule/6_9xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,802},{59,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,18}</string>
			</dict>
			<key>rule/7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,764},{93,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,25}</string>
			</dict>
			<key>rule/7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,190},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>rule/7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,285},{78,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,25}</string>
			</dict>
			<key>rule/8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,428},{94,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,25}</string>
			</dict>
			<key>rule/8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,190},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>rule/8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,285},{78,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,25}</string>
			</dict>
			<key>rule/9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,603},{119,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,100}</string>
			</dict>
			<key>rule/arrow_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,592},{50,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,82}</string>
			</dict>
			<key>rule/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,155},{212,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,4}</string>
			</dict>
			<key>rule/line_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,436},{216,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>rule/line_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,640},{217,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,63}</string>
			</dict>
			<key>rule/line_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,426},{210,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,50}</string>
			</dict>
			<key>rule/line_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,343},{218,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,52}</string>
			</dict>
			<key>rule/line_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,190},{206,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,66}</string>
			</dict>
			<key>rule/line_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,214},{218,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,71}</string>
			</dict>
			<key>rule/line_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,386},{213,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,41}</string>
			</dict>
			<key>rule/line_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,861},{216,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,42}</string>
			</dict>
			<key>rule/line_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,2},{208,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,88}</string>
			</dict>
			<key>rule/line_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,920},{217,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,89}</string>
			</dict>
			<key>rule/line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,214},{208,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,10}</string>
			</dict>
			<key>rule/line_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,927},{212,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,94}</string>
			</dict>
			<key>rule/line_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,550},{216,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,11}</string>
			</dict>
			<key>rule/line_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,909},{212,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,110}</string>
			</dict>
			<key>rule/line_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,796},{219,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,110}</string>
			</dict>
			<key>rule/line_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,171},{211,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,43}</string>
			</dict>
			<key>rule/line_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,2},{212,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,43}</string>
			</dict>
			<key>rule/line_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,839},{218,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,77}</string>
			</dict>
			<key>rule/line_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,830},{211,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,75}</string>
			</dict>
			<key>rule/line1_5back.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,565},{227,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>rule/line10_13back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{226,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,127}</string>
			</dict>
			<key>rule/line14_17back.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,155},{221,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,142}</string>
			</dict>
			<key>rule/line18_20back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,795},{218,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,114}</string>
			</dict>
			<key>rule/line6_9back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,573},{218,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,126}</string>
			</dict>
			<key>rule/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,218},{16,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,28}</string>
			</dict>
			<key>rule/num10.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,547},{29,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,27}</string>
			</dict>
			<key>rule/num11.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,323},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>rule/num12.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,418},{31,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>
			<key>rule/num13.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,353},{32,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,29}</string>
			</dict>
			<key>rule/num14.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,463},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>rule/num15.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,353},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>rule/num16.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,515},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>rule/num17.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,431},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>rule/num18.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,323},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>rule/num19.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,453},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>rule/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,546},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>rule/num20.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,400},{32,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,27}</string>
			</dict>
			<key>rule/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,130},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>rule/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,579},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>rule/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,97},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>rule/num6.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,515},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>rule/num7.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,547},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>rule/num8.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,283},{21,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>rule/num9.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,580},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,27}</string>
			</dict>
			<key>rule/rule_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,324},{72,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,65}</string>
			</dict>
			<key>rule/rule1_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,380},{166,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,144}</string>
			</dict>
			<key>rule/rule10_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{186,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,184}</string>
			</dict>
			<key>rule/rule11_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,2},{184,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,191}</string>
			</dict>
			<key>rule/rule2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,386},{165,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,144}</string>
			</dict>
			<key>rule/rule3_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,656},{164,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,149}</string>
			</dict>
			<key>rule/rule4_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,171},{148,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,149}</string>
			</dict>
			<key>rule/rule5_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,707},{102,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,113}</string>
			</dict>
			<key>rule/rule6_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,400},{92,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,115}</string>
			</dict>
			<key>rule/rule7_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,907},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>
			<key>rule/rule8_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,656},{58,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,120}</string>
			</dict>
			<key>rule/rule9_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,2},{165,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,146}</string>
			</dict>
			<key>rule/ruleTest.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,770},{246,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,56}</string>
			</dict>
			<key>rule/ruleTest2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,534},{184,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,54}</string>
			</dict>
			<key>rule/ruleTest3.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,550},{285,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,56}</string>
			</dict>
			<key>rule/ruleTest3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,155},{608,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{608,31}</string>
			</dict>
			<key>rule/sanfenqiu_Info.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{377,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,149}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rule.png</string>
			<key>realTextureFileName</key>
			<string>rule.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>