<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>baoxiang1-01.png</key>
			<dict>
				<key>width</key>
				<integer>314</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoxiang1-02.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoxiang1-03.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoxiang1-04.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoxiang1-07.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>365</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>baoxiang2-07.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>baoxiang3-07.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>638</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>baoxiang1-06.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>baoxiang2-06.png</key>
			<dict>
				<key>width</key>
				<integer>276</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>569</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>baoxiang3-06.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>baoxiang1-05.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-56.5</real>
			</dict>
			<key>baoxiang2-05.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-60</real>
			</dict>
			<key>baoxiang3-05.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>248</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-56</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>baoxiang0.png</string>
			<key>realTextureFileName</key>
			<string>baoxiang0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>