<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jtwanilight18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{325,390},{306,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,106}}</string>
                <key>sourceSize</key>
                <string>{306,106}</string>
            </dict>
            <key>jtwwin1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{635,398},{264,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,66}}</string>
                <key>sourceSize</key>
                <string>{264,66}</string>
            </dict>
            <key>jtwwin1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{635,328},{264,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,66}}</string>
                <key>sourceSize</key>
                <string>{264,66}</string>
            </dict>
            <key>jtwwin1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1},{264,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,66}}</string>
                <key>sourceSize</key>
                <string>{264,66}</string>
            </dict>
            <key>jtwwin1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{240,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,320}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>jtwwin1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{720,1},{284,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,213}}</string>
                <key>sourceSize</key>
                <string>{284,213}</string>
            </dict>
            <key>jtwwin1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{305,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,275}}</string>
                <key>sourceSize</key>
                <string>{305,275}</string>
            </dict>
            <key>jtwwin1_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{325,280},{306,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,106}}</string>
                <key>sourceSize</key>
                <string>{306,106}</string>
            </dict>
            <key>jtwwin2_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{720,218},{306,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,106}}</string>
                <key>sourceSize</key>
                <string>{306,106}</string>
            </dict>
            <key>jtwwin3_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{406,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,253}}</string>
                <key>sourceSize</key>
                <string>{406,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jtwanijpg.jpg</string>
            <key>size</key>
            <string>{1097,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65960ffb2a3fa9744cb7489ff8376eaa:1/1$</string>
            <key>textureFileName</key>
            <string>jtwanijpg.jpg</string>
        </dict>
    </dict>
</plist>
