<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jtw_backani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,530},{1280,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,372}}</string>
                <key>sourceSize</key>
                <string>{1280,372}</string>
            </dict>
            <key>jtw_backani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1576},{373,117}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{373,117}}</string>
                <key>sourceSize</key>
                <string>{377,167}</string>
            </dict>
            <key>jtw_backani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1206},{643,167}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{643,167}}</string>
                <key>sourceSize</key>
                <string>{649,167}</string>
            </dict>
            <key>jtw_backani_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1576},{199,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,179}}</string>
                <key>sourceSize</key>
                <string>{199,181}</string>
            </dict>
            <key>jtw_backani_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1393},{572,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,192}}</string>
                <key>sourceSize</key>
                <string>{572,192}</string>
            </dict>
            <key>jtw_backani_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,906},{1158,208}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1158,208}}</string>
                <key>sourceSize</key>
                <string>{1162,212}</string>
            </dict>
            <key>jtw_img_back10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1393},{488,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,179}}</string>
                <key>sourceSize</key>
                <string>{488,179}</string>
            </dict>
            <key>jtw_img_back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,525}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{1280,525}}</string>
                <key>sourceSize</key>
                <string>{1280,573}</string>
            </dict>
            <key>jtw_img_back5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1759},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>jtw_img_back6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1759},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>jtw_img_back7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1576},{421,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,163}}</string>
                <key>sourceSize</key>
                <string>{421,163}</string>
            </dict>
            <key>jtw_img_back8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1393},{594,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{594,172}}</string>
                <key>sourceSize</key>
                <string>{602,180}</string>
            </dict>
            <key>jtw_img_back9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1166},{791,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,429}}</string>
                <key>sourceSize</key>
                <string>{791,429}</string>
            </dict>
            <key>jtwanihits01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1812},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>jtwanihits02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1166},{223,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,209}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>jtwanilight19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1118},{649,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,84}}</string>
                <key>sourceSize</key>
                <string>{649,84}</string>
            </dict>
            <key>jtwanilight19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,906},{256,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,121}}</string>
                <key>sourceSize</key>
                <string>{256,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jtwanipng.png</string>
            <key>size</key>
            <string>{1297,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6d8a83fdaa990f3fafec9b533302d4:7df9d38793e727254a971b455acdf787:de44fbac9229bc898c37cf67c15a491d$</string>
            <key>textureFileName</key>
            <string>jtwanipng.png</string>
        </dict>
    </dict>
</plist>
