<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jtwgamescene2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>jtwiconlight0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{929,1625},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{697,1625},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{465,1783},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{465,1551},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{233,1561},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{741,1393},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{741,1161},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{509,1285},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{957,929},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{725,929},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{203,1793},{198,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{198,210}</string>
            </dict>
            <key>jtwiconlight2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{957,697},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{725,697},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{957,465},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{725,465},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{957,233},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{725,233},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{277,1285},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1561},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight29.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>jtwiconlight3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{973,1375},{198,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{198,210}</string>
            </dict>
            <key>jtwiconlight4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{973,1161},{198,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{198,210}</string>
            </dict>
            <key>jtwiconlight5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1793},{198,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{198,210}</string>
            </dict>
            <key>jtwimg_autoback6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{697,1857},{202,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,106}}</string>
                <key>sourceSize</key>
                <string>{202,106}</string>
            </dict>
            <key>jtwimg_light06_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1285},{272,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,272}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>jtwimg_light06_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{405,1852},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>jtwimg_light08_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1857},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>jtwimg_light08_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{903,1857},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>jtwimg_light09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1793},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>jtwimg_light09_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{405,1911},{69,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,48}</string>
            </dict>
            <key>jtwimg_light10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{277,1517},{30,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,362}}</string>
                <key>sourceSize</key>
                <string>{30,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jtwjpgres.jpg</string>
            <key>size</key>
            <string>{1186,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:339e2306d839f52d78fbe3445d0c6922:0eda8b248d8a9a2dac20bd09a72724b5:d513bcb79b475256880b03954f5d26c6$</string>
            <key>textureFileName</key>
            <string>jtwjpgres.jpg</string>
        </dict>
    </dict>
</plist>
