<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jtw_help_back5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1289},{1280,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,569}}</string>
                <key>sourceSize</key>
                <string>{1280,569}</string>
            </dict>
            <key>jtw_img_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{582,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>jtw_img_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1284,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,577}}</string>
                <key>sourceSize</key>
                <string>{1284,577}</string>
            </dict>
            <key>jtw_img_back3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1},{724,1023}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,1023}}</string>
                <key>sourceSize</key>
                <string>{724,1023}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jtwjpgres3.jpg</string>
            <key>size</key>
            <string>{2031,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cdd32597351418b43bc11eece03f916:378049b8bcd4a08a0b5e2b3edd5f4e0b:15d41f6bd5a774477f65b4286f008766$</string>
            <key>textureFileName</key>
            <string>jtwjpgres3.jpg</string>
        </dict>
    </dict>
</plist>
