<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jtw_help_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1147},{1280,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,569}}</string>
                <key>sourceSize</key>
                <string>{1280,569}</string>
            </dict>
            <key>jtw_help_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,574},{1280,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,569}}</string>
                <key>sourceSize</key>
                <string>{1280,569}</string>
            </dict>
            <key>jtw_help_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1},{1280,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,569}}</string>
                <key>sourceSize</key>
                <string>{1280,569}</string>
            </dict>
            <key>jtw_help_back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,569}}</string>
                <key>sourceSize</key>
                <string>{1280,569}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jtwjpgres2.jpg</string>
            <key>size</key>
            <string>{1855,1717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a777e287d978d124b3b8b3e0ef15c8:6eef45fc05b99c41fad409def7c5396b:8b1d4e3b62edab819c876f1bc3bee1fc$</string>
            <key>textureFileName</key>
            <string>jtwjpgres2.jpg</string>
        </dict>
    </dict>
</plist>
