<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus/bonusBall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,594},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>bonus/bonusCar_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{124,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,67}</string>
			</dict>
			<key>bonus/bonusCar_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,819},{124,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,42}</string>
			</dict>
			<key>bonus/bonusCar_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,654},{86,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,60}</string>
			</dict>
			<key>bonus/bonusScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,906},{221,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,93}</string>
			</dict>
			<key>bonus/n1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,61},{7,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,13}</string>
			</dict>
			<key>bonus/n2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>bonus/n3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,46},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,13}</string>
			</dict>
			<key>bonus/n4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,16},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>bonus/n5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,31},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>bonus/record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,917},{285,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,85}</string>
			</dict>
			<key>kulitoulan/kuliqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,589},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,171},{151,325}}</string>
				<key>offset</key>
				<string>{8,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,498},{150,319}}</string>
				<key>offset</key>
				<string>{8,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{149,352}}</string>
				<key>offset</key>
				<string>{8,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1},{145,372}}</string>
				<key>offset</key>
				<string>{10,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,501},{145,348}}</string>
				<key>offset</key>
				<string>{10,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,171},{150,344}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,328},{154,318}}</string>
				<key>offset</key>
				<string>{6,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1},{176,325}}</string>
				<key>offset</key>
				<string>{-5,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,400}</string>
			</dict>
			<key>kulitoulan/kulitouqiu0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,171},{159,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,328}</string>
			</dict>
			<key>sanfenjiesuan/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,831},{156,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,52}</string>
			</dict>
			<key>sanfenjiesuan/jiesuanziti.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,851},{156,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,61}</string>
			</dict>
			<key>sanfenjiesuan/sanfendasaiziti.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,885},{393,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,111}</string>
			</dict>
			<key>sanfenjiesuan/shang2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1004},{256,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,15}</string>
			</dict>
			<key>sanfenjiesuan/xia1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{259,1004},{256,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,12}</string>
			</dict>
			<key>sanfenjiesuan/xia2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{299,819},{256,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,10}</string>
			</dict>
			<key>sanfenjiesuan/xia3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{517,998},{127,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,20}</string>
			</dict>
			<key>sanfenjiesuan/yingdeziti.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,763},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>tip/tipBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,851},{156,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,53}</string>
			</dict>
			<key>tip/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,61},{6,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,8}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,526},{88,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,586},{87,66}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,517},{87,67}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,375},{87,74}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,451},{87,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,524},{87,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,672},{87,70}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwanghou0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,517},{87,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,75}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,763},{88,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,451},{88,71}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,599},{88,71}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{88,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{88,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,840},{88,75}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,839},{88,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>xiaoyouxi/lanqiuwangqian0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,915},{88,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>zhongjiangdonghua/dajiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,797},{179,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,86}</string>
			</dict>
			<key>zhongjiangdonghua/dajiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,648},{228,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,113}</string>
			</dict>
			<key>zhongjiangdonghua/chaojidajiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{679,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{679,168}</string>
			</dict>
			<key>bg guangxiao/guangxiao_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,665},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bonus.png</string>
			<key>realTextureFileName</key>
			<string>bonus.png</string>
			<key>size</key>
			<string>{1023,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>