<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>toulananniutexiao/toulanguangxiao0004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0005.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0007.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0009.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{652,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0011.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,223},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,445},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0013.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{218,667},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0014.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,223},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0015.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{652,223},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0016.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,445},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0017.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,667},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0018.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{652,445},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0019.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{652,667},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guangxiao2.jpg</string>
			<key>realTextureFileName</key>
			<string>guangxiao2.jpg</string>
			<key>size</key>
			<string>{868,888}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>868</integer>
			<key>height</key>
			<integer>888</integer>
		</dict>
	</dict>
</plist>