<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg guangxiao/guangxiao_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{757,900},{161,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,102}</string>
			</dict>
			<key>bg guangxiao/guangxiao_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{263,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,263}</string>
			</dict>
			<key>bg guangxiao/guangxiao_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1169,859},{84,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,161}</string>
			</dict>
			<key>bg guangxiao/guangxiao_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1009,223},{84,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,161}</string>
			</dict>
			<key>bg guangxiao/guangxiao_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1155,677},{83,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,180}</string>
			</dict>
			<key>bg guangxiao/guangxiao_07.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{757,727},{215,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,171}</string>
			</dict>
			<key>bg guangxiao/guangxiao_08.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{974,505},{202,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,170}</string>
			</dict>
			<key>bg guangxiao/guangxiao_09.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{974,677},{179,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,169}</string>
			</dict>
			<key>bg guangxiao/guangxiao_11.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1045,949},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>bg guangxiao/guangxiao_12.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{974,848},{156,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,46}</string>
			</dict>
			<key>bg guangxiao/guangxiao_13.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1168,223},{43,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,214}</string>
			</dict>
			<key>bg guangxiao/guangxiao_14.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1045,896},{122,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,51}</string>
			</dict>
			<key>bg guangxiao/guangxiao_15.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1095,223},{71,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,151}</string>
			</dict>
			<key>bg guangxiao/guangxiao_16.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1},{13,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,142}</string>
			</dict>
			<key>bg guangxiao/guangxiao_18.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{920,900},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{770,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>toulananniutexiao/toulanguangxiao0003.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{757,505},{215,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,220}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00000.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,266},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,518},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,770},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{253,266},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{253,518},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{253,770},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00014.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00016.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{518,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00018.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00020.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{505,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>bg guangxiao/sctter guangxiao_00022.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{757,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guangxiao.jpg</string>
			<key>realTextureFileName</key>
			<string>guangxiao.jpg</string>
			<key>size</key>
			<string>{1254,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1254</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>