<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>main/10jiaBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,134},{240,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,127}</string>
			</dict>
			<key>main/10jiaLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,135},{240,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,127}</string>
			</dict>
			<key>main/ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,752},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>main/ballText.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,796},{104,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,58}</string>
			</dict>
			<key>main/defeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,266},{251,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,111}</string>
			</dict>
			<key>main/deng_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,353},{77,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,201}</string>
			</dict>
			<key>main/deng_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,472},{80,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,165}</string>
			</dict>
			<key>main/deng_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,391},{80,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,159}</string>
			</dict>
			<key>main/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,134},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>main/qiuxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,381},{71,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,38}</string>
			</dict>
			<key>main/top_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{741,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,128}</string>
			</dict>
			<key>main/top_screen_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,265},{218,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,122}</string>
			</dict>
			<key>main/xianzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,247},{43,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,23}</string>
			</dict>
			<key>main/youdeng_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,554},{91,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,99}</string>
			</dict>
			<key>main/youdeng_1_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,749},{83,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
			<key>main/youdeng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,381},{128,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,165}</string>
			</dict>
			<key>main/youdeng_2_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,669},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>main/youdeng_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,265},{58,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,84}</string>
			</dict>
			<key>main/youdeng_3_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,182},{28,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,47}</string>
			</dict>
			<key>main/youdeng_zhijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,737},{315,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,30}</string>
			</dict>
			<key>main/zongdefen.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,777},{105,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,38}</string>
			</dict>
			<key>main/zongduzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,423},{66,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,23}</string>
			</dict>
			<key>main/zuodeng_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,381},{129,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,173}</string>
			</dict>
			<key>main/zuodeng_1_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,669},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>main/zuodeng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,691},{103,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,82}</string>
			</dict>
			<key>main/zuodeng_2_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,135},{39,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>main/zuodeng_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,657},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>main/zuodeng_zhijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,771},{297,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,32}</string>
			</dict>
			<key>mianfeiyouxisucai/mianfeiyouxicishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,2},{244,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,129}</string>
			</dict>
			<key>bonus/bonusled.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,378},{223,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,90}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,391},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,518},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,530},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,657},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,550},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,378},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,472},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>lanqiuxuanzhuan/lanqiuxuanzhuan0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,612},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>sanfenjiesuan/shang4.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{732,690},{256,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,43}</string>
			</dict>
			<key>main/_bonusTest.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,134},{427,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{427,118}</string>
			</dict>
			<key>main/_freeGameText.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,256},{374,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,118}</string>
			</dict>
			<key>main/infoText.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,776},{121,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,56}</string>
			</dict>
			<key>bg guangxiao/scatter lanqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,558},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main.png</string>
			<key>realTextureFileName</key>
			<string>main.png</string>
			<key>size</key>
			<string>{1022,883}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>883</integer>
		</dict>
	</dict>
</plist>