<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shipintupian/nba_video0001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,0},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0003.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,0},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,0},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0005.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0007.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,109},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,109},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0009.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,109},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,109},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0011.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,218},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0013.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,218},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0014.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,218},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0015.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,218},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0016.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,327},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0017.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,327},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0018.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,327},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0019.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,327},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0020.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,327},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0021.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0022.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,436},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0023.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,436},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0024.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,436},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0025.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,436},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0026.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,545},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0027.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0028.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,763},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0029.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,872},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0030.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,545},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0031.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,545},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0032.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,545},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0033.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,545},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0034.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,654},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0035.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,763},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0036.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{204,872},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0037.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,654},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0038.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,654},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0039.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,654},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0040.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,763},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0041.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{408,872},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0042.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,763},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0043.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,763},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0044.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{612,872},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>shipintupian/nba_video0045.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{816,872},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>video.jpg</string>
			<key>realTextureFileName</key>
			<string>video.jpg</string>
			<key>size</key>
			<string>{1020,981}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>981</integer>
		</dict>
	</dict>
</plist>