<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/lines/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,626},{560,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,4}</string>
			</dict>
			<key>Texture/lines/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,301},{560,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,227}</string>
			</dict>
			<key>Texture/lines/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,294},{560,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,228}</string>
			</dict>
			<key>Texture/lines/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1475},{562,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,108}</string>
			</dict>
			<key>Texture/lines/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{560,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,110}</string>
			</dict>
			<key>Texture/lines/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1246},{562,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,149}</string>
			</dict>
			<key>Texture/lines/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1244},{562,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,150}</string>
			</dict>
			<key>Texture/lines/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,530},{560,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,94}</string>
			</dict>
			<key>Texture/lines/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{560,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,94}</string>
			</dict>
			<key>Texture/lines/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1234},{562,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,239}</string>
			</dict>
			<key>Texture/lines/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1003},{562,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,239}</string>
			</dict>
			<key>Texture/lines/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,632},{560,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,4}</string>
			</dict>
			<key>Texture/lines/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{560,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,169}</string>
			</dict>
			<key>Texture/lines/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,524},{560,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,199}</string>
			</dict>
			<key>Texture/lines/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,972},{562,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,260}</string>
			</dict>
			<key>Texture/lines/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,725},{562,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,261}</string>
			</dict>
			<key>Texture/lines/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1},{560,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,291}</string>
			</dict>
			<key>Texture/lines/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{562,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,283}</string>
			</dict>
			<key>Texture/lines/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,638},{560,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,4}</string>
			</dict>
			<key>Texture/lines/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{560,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,298}</string>
			</dict>
			<key>Texture/lines/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{560,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,305}</string>
			</dict>
			<key>Texture/lines/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1397},{562,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,117}</string>
			</dict>
			<key>Texture/lines/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1396},{562,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,120}</string>
			</dict>
			<key>Texture/lines/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,745},{562,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,256}</string>
			</dict>
			<key>Texture/lines/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,988},{562,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,256}</string>
			</dict>
			<key>Texture/lines/lineNumsLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,1},{57,742}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,742}</string>
			</dict>
			<key>Texture/lines/lineNumsRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,1},{57,742}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,742}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Lines.png</string>
			<key>realTextureFileName</key>
			<string>Lines.png</string>
			<key>size</key>
			<string>{1804,1584}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1804</integer>
			<key>height</key>
			<integer>1584</integer>
		</dict>
	</dict>
</plist>