<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/Main/Button_add0.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,203},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>Texture/Main/Button_add1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,275},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>Texture/Main/Button_auto0.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{210,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,77}</string>
			</dict>
			<key>Texture/Main/Button_auto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,80},{210,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,77}</string>
			</dict>
			<key>Texture/Main/Button_betAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,159},{210,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,77}</string>
			</dict>
			<key>Texture/Main/Button_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,224},{180,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,35}</string>
			</dict>
			<key>Texture/Main/Button_log.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,238},{180,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,35}</string>
			</dict>
			<key>Texture/Main/Button_musicOFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,261},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Texture/Main/Button_musicON.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,261},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Texture/Main/Button_Quick.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,224},{210,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,77}</string>
			</dict>
			<key>Texture/Main/Button_roll0.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1},{221,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,221}</string>
			</dict>
			<key>Texture/Main/Button_roll1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{221,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,221}</string>
			</dict>
			<key>Texture/Main/Button_rollBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1},{221,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,221}</string>
			</dict>
			<key>Texture/Main/Button_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{314,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,200}</string>
			</dict>
			<key>Texture/Main/Button_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,303},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Texture/Main/Button_soundOFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,347},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Texture/Main/Button_soundON.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,303},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Texture/Main/Button_Sub0.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,238},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buttons.png</string>
			<key>realTextureFileName</key>
			<string>buttons.png</string>
			<key>size</key>
			<string>{974,425}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>974</integer>
			<key>height</key>
			<integer>425</integer>
		</dict>
	</dict>
</plist>