<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/Clips/icon1_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon1_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon10_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon11_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani10.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani11.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani12.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani13.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon12_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon13_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon2_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>iconAni1.png</string>
			<key>realTextureFileName</key>
			<string>iconAni1.png</string>
			<key>size</key>
			<string>{1856,1856}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1856</integer>
			<key>height</key>
			<integer>1856</integer>
		</dict>
	</dict>
</plist>