<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/Clips/icon2_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon3_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon4_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,233},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon5_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,465},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon6_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,697},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon7_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,929},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1161},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon8_ani9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon9_ani0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon9_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1393},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>Texture/Clips/icon9_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1625},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>iconAni2.png</string>
			<key>realTextureFileName</key>
			<string>iconAni2.png</string>
			<key>size</key>
			<string>{1856,1856}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1856</integer>
			<key>height</key>
			<integer>1856</integer>
		</dict>
	</dict>
</plist>