<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/Main/Image_ac.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1172},{88,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,48}</string>
			</dict>
			<key>Texture/Main/Image_betlines.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1301},{79,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,35}</string>
			</dict>
			<key>Texture/Main/Image_bets.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1338},{79,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,35}</string>
			</dict>
			<key>Texture/Main/Image_betTotle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1265},{111,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,34}</string>
			</dict>
			<key>Texture/Main/Image_current.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1083},{121,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,44}</string>
			</dict>
			<key>Texture/Main/Image_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1026},{78,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,32}</string>
			</dict>
			<key>Texture/Main/Image_man.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,369},{340,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,322}</string>
			</dict>
			<key>Texture/Main/Image_numbers.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{431,989},{269,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,35}</string>
			</dict>
			<key>Texture/Main/Image_numBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Texture/Main/Image_selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1599},{195,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,211}</string>
			</dict>
			<key>Texture/Main/Image_speedline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1602,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1602,366}</string>
			</dict>
			<key>Texture/Main/Image_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1026},{76,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,36}</string>
			</dict>
			<key>Texture/Main/Image_Win_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1599},{260,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,131}</string>
			</dict>
			<key>Texture/Main/Image_Win_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1812},{254,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,131}</string>
			</dict>
			<key>Texture/Main/Image_Win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1732},{244,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,125}</string>
			</dict>
			<key>Texture/Main/Image_winBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1362},{603,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{603,235}</string>
			</dict>
			<key>Texture/Main/qwwe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,63},{25,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,12}</string>
			</dict>
			<key>Texture/Main/Textrue_512_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,369},{543,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,366}</string>
			</dict>
			<key>Texture/Main/Texture_BG0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1083},{1920,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1920,277}</string>
			</dict>
			<key>Texture/Main/Texture_BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1},{365,1080}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,1080}</string>
			</dict>
			<key>Texture/Main/Texture_maskEffect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1362},{391,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,662}</string>
			</dict>
			<key>Texture/Winning/2bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,737},{414,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,101}</string>
			</dict>
			<key>Texture/Winning/anui.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,737},{538,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,135}</string>
			</dict>
			<key>Texture/Winning/bss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1222},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
			<key>Texture/Winning/guangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{565,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,540}</string>
			</dict>
			<key>Texture/Winning/ksyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,989},{210,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,77}</string>
			</dict>
			<key>Texture/Winning/mfcs.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{1410,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1410,76}</string>
			</dict>
			<key>Texture/Winning/qdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,989},{216,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,76}</string>
			</dict>
			<key>Texture/Winning/qichi.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1362},{231,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,279}</string>
			</dict>
			<key>Texture/Winning/xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1129},{103,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main.png</string>
			<key>realTextureFileName</key>
			<string>main.png</string>
			<key>size</key>
			<string>{2045,2025}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>2025</integer>
		</dict>
	</dict>
</plist>