<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/rule/bfgz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,2},{414,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,101}</string>
			</dict>
			<key>Texture/rule/pfgza.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,2},{216,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,76}</string>
			</dict>
			<key>Texture/rule/pfla.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,222},{216,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,76}</string>
			</dict>
			<key>Texture/rule/pflb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,2},{414,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,101}</string>
			</dict>
			<key>Texture/rule/reesr.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,2},{1468,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1468,5}</string>
			</dict>
			<key>Texture/rule/rightArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,470},{176,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,120}</string>
			</dict>
			<key>Texture/rule/ruleBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,2},{314,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,200}</string>
			</dict>
			<key>Texture/rule/yxjla.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,420},{216,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,76}</string>
			</dict>
			<key>Texture/rule/yxjlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,420},{414,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,101}</string>
			</dict>
			<key>Texture/rule/rule/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,657},{92,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,53}</string>
			</dict>
			<key>Texture/rule/rule/100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,800},{144,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,53}</string>
			</dict>
			<key>Texture/rule/rule/10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,442},{238,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,53}</string>
			</dict>
			<key>Texture/rule/rule/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,838},{140,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,53}</string>
			</dict>
			<key>Texture/rule/rule/101.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,753},{92,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,53}</string>
			</dict>
			<key>Texture/rule/rule/125.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,800},{138,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,54}</string>
			</dict>
			<key>Texture/rule/rule/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,810},{90,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,52}</string>
			</dict>
			<key>Texture/rule/rule/150.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,942},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>Texture/rule/rule/15001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,684},{188,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,53}</string>
			</dict>
			<key>Texture/rule/rule/1501.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,838},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>Texture/rule/rule/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,905},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>Texture/rule/rule/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,1084},{97,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,54}</string>
			</dict>
			<key>Texture/rule/rule/200.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,885},{148,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,53}</string>
			</dict>
			<key>Texture/rule/rule/201.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,982},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>
			<key>Texture/rule/rule/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,1037},{98,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,53}</string>
			</dict>
			<key>Texture/rule/rule/250.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,206},{147,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,53}</string>
			</dict>
			<key>Texture/rule/rule/2500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,684},{197,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,53}</string>
			</dict>
			<key>Texture/rule/rule/2501.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,357},{147,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,53}</string>
			</dict>
			<key>Texture/rule/rule/2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,442},{54,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,33}</string>
			</dict>
			<key>Texture/rule/rule/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,1021},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>
			<key>Texture/rule/rule/300.png</key>
			<dict>
				<key>frame</key>
				<string>{{1961,1030},{148,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,53}</string>
			</dict>
			<key>Texture/rule/rule/3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,555},{49,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,33}</string>
			</dict>
			<key>Texture/rule/rule/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,849},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>Texture/rule/rule/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,981},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>
			<key>Texture/rule/rule/400.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,876},{150,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,54}</string>
			</dict>
			<key>Texture/rule/rule/4x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,500},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>Texture/rule/rule/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,960},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,52}</string>
			</dict>
			<key>Texture/rule/rule/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1125},{97,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,53}</string>
			</dict>
			<key>Texture/rule/rule/5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,822},{195,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,53}</string>
			</dict>
			<key>Texture/rule/rule/5001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,508},{146,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,53}</string>
			</dict>
			<key>Texture/rule/rule/500c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,650},{146,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,53}</string>
			</dict>
			<key>Texture/rule/rule/501.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,1139},{97,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,53}</string>
			</dict>
			<key>Texture/rule/rule/5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,608},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>Texture/rule/rule/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1182},{96,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,53}</string>
			</dict>
			<key>Texture/rule/rule/750.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,650},{146,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,53}</string>
			</dict>
			<key>Texture/rule/rule/8001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,658},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>Texture/rule/rule/multiple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,2},{464,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{464,111}</string>
			</dict>
			<key>Texture/rule/rule/scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,2},{491,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,168}</string>
			</dict>
			<key>Texture/rule/rule/wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,640},{178,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,63}</string>
			</dict>
			<key>Texture/rule/lines/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,174},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,174},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,206},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,347},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,347},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,379},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,520},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,520},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,552},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,657},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,657},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,657},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,693},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,693},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,725},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,830},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,830},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,830},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,866},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,866},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,898},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1003},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1003},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1003},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1039},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/lines/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1039},{243,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,169}</string>
			</dict>
			<key>Texture/rule/freegame/shuibz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{808,651}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{808,651}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rules.png</string>
			<key>realTextureFileName</key>
			<string>rules.png</string>
			<key>size</key>
			<string>{2039,1472}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2039</integer>
			<key>height</key>
			<integer>1472</integer>
		</dict>
	</dict>
</plist>