<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>aladdin5x243_rule/3040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,817},{136,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,25}</string>
			</dict>
			<key>aladdin5x243_rule/310.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1048},{139,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,27}</string>
			</dict>
			<key>aladdin5x243_rule/3100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1060},{150,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,28}</string>
			</dict>
			<key>aladdin5x243_rule/320.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,844},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>aladdin5x243_rule/350.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1177},{142,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,28}</string>
			</dict>
			<key>aladdin5x243_rule/370.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1207},{141,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,28}</string>
			</dict>
			<key>aladdin5x243_rule/4040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,870},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>aladdin5x243_rule/4070.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,896},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>aladdin5x243_rule/4100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1237},{143,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,27}</string>
			</dict>
			<key>aladdin5x243_rule/420.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,574},{135,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,27}</string>
			</dict>
			<key>aladdin5x243_rule/4200.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1090},{153,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,27}</string>
			</dict>
			<key>aladdin5x243_rule/430.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1106},{142,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,25}</string>
			</dict>
			<key>aladdin5x243_rule/460.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,922},{136,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,23}</string>
			</dict>
			<key>aladdin5x243_rule/5100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,788},{136,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,27}</string>
			</dict>
			<key>aladdin5x243_rule/51500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1148},{147,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,27}</string>
			</dict>
			<key>aladdin5x243_rule/5200.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1090},{139,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,26}</string>
			</dict>
			<key>aladdin5x243_rule/52000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1119},{150,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,27}</string>
			</dict>
			<key>aladdin5x243_rule/5400.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1106},{140,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,25}</string>
			</dict>
			<key>aladdin5x243_rule/5500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1077},{139,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,27}</string>
			</dict>
			<key>aladdin5x243_rule/kkua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,170},{131,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,129}</string>
			</dict>
			<key>aladdin5x243_rule/xzxdx.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1048},{219,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,40}</string>
			</dict>
			<key>aladdin5x243_rule/bdwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1050},{199,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,101}</string>
			</dict>
			<key>aladdin5x243_rule/Button_10times.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{571,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,167}</string>
			</dict>
			<key>aladdin5x243_rule/Button_15times.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,1},{571,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,167}</string>
			</dict>
			<key>aladdin5x243_rule/Button_20times.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{571,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,167}</string>
			</dict>
			<key>aladdin5x243_rule/Button_5times.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{571,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,167}</string>
			</dict>
			<key>aladdin5x243_rule/Button_8times.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,170},{571,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{572,167}</string>
			</dict>
			<key>aladdin5x243_rule/ccd-v.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1144},{574,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{574,106}</string>
			</dict>
			<key>aladdin5x243_rule/gxjr.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1252},{780,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,109}</string>
			</dict>
			<key>aladdin5x243_rule/szzd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,170},{226,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,304}</string>
			</dict>
			<key>aladdin5x243_rule/tc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1139},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>aladdin5x243_rule/wtww.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1363},{947,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{947,34}</string>
			</dict>
			<key>aladdin5x243_rule/xsgz.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1252},{780,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,109}</string>
			</dict>
			<key>aladdin5x243_rule/xyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1153},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>aladdin5x243_rule/yyy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{772,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{772,136}</string>
			</dict>
			<key>aladdin5x243_icon/10cici.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,847},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>aladdin5x243_icon/15cici.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,889},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>aladdin5x243_icon/20cici.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,889},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>aladdin5x243_icon/5cici.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,978},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>aladdin5x243_icon/8cici.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1008},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>aladdin5x243_icon/Card0.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,823},{226,223}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>aladdin5x243_icon/Card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,595},{226,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>aladdin5x243_icon/Card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,801},{178,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,184}</string>
			</dict>
			<key>aladdin5x243_icon/Card11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,699},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>aladdin5x243_icon/Card12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,938},{217,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>aladdin5x243_icon/Card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,732},{206,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,204}</string>
			</dict>
			<key>aladdin5x243_icon/Card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,938},{206,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,204}</string>
			</dict>
			<key>aladdin5x243_icon/Card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,971},{206,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,204}</string>
			</dict>
			<key>aladdin5x243_icon/Card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1158},{206,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,204}</string>
			</dict>
			<key>aladdin5x243_icon/Card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,603},{138,183}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,184}</string>
			</dict>
			<key>aladdin5x243_icon/Card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,885},{168,173}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,184}</string>
			</dict>
			<key>aladdin5x243_icon/Card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,699},{174,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,184}</string>
			</dict>
			<key>aladdin5x243_icon/Card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,235},{86,184}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,184}</string>
			</dict>
			<key>aladdin5x243_icon/10cicif.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,477},{159,204}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,220}</string>
			</dict>
			<key>aladdin5x243_icon/15cicif.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,477},{159,204}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,220}</string>
			</dict>
			<key>aladdin5x243_icon/20cicif.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,595},{159,204}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,220}</string>
			</dict>
			<key>aladdin5x243_icon/5cicif.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,683},{159,204}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,220}</string>
			</dict>
			<key>aladdin5x243_icon/8cicif.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,683},{159,204}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,220}</string>
			</dict>
			<key>aladdin5x243_icon/Card0f.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,339},{224,250}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,250}</string>
			</dict>
			<key>aladdin5x243_icon/Card10f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,477},{177,220}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,250}</string>
			</dict>
			<key>aladdin5x243_icon/Card11f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,170},{237,279}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card12f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,451},{217,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card1f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,421},{226,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card2f.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,339},{206,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card3f.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,591},{206,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card4f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,476},{206,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card5f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,715},{206,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,280}</string>
			</dict>
			<key>aladdin5x243_icon/Card6f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,339},{135,233}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,252}</string>
			</dict>
			<key>aladdin5x243_icon/Card7f.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,373},{165,220}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,250}</string>
			</dict>
			<key>aladdin5x243_icon/Card8f.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,139},{170,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,250}</string>
			</dict>
			<key>aladdin5x243_icon/Card9f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,1},{71,232}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aladdin5x243_rule.png</string>
			<key>realTextureFileName</key>
			<string>aladdin5x243_rule.png</string>
			<key>size</key>
			<string>{2013,1398}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2013</integer>
			<key>height</key>
			<integer>1398</integer>
		</dict>
	</dict>
</plist>