<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>aladdin5x243_effect/Fireworks1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,152},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,1},{148,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,149}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1426},{189,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,192}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1614},{221,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,232}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1354},{246,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,258}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1147},{261,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,277}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,886},{268,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,288}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,507},{269,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,288}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,956},{325,424}}</string>
				<key>offset</key>
				<string>{84,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,1426},{363,430}}</string>
				<key>offset</key>
				<string>{48,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{464,447}}</string>
				<key>offset</key>
				<string>{24,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{465,504}}</string>
				<key>offset</key>
				<string>{-19,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1426},{415,448}}</string>
				<key>offset</key>
				<string>{12,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Fireworks2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{435,468}}</string>
				<key>offset</key>
				<string>{8,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1848},{293,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1614},{294,167}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,1354},{292,167}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1354},{292,167}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,975},{291,170}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,975},{292,172}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,975},{294,169}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1690},{295,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1523},{295,165}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/Flying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1620},{294,165}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,187}</string>
			</dict>
			<key>aladdin5x243_effect/god_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,490},{67,125}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,1203},{67,124}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,609},{80,114}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,841},{78,116}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,254},{70,118}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,1321},{67,122}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,617},{67,125}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,841},{70,122}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,965},{75,120}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,254},{78,119}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,490},{78,117}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,1203},{74,116}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,1087},{77,114}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,725},{80,114}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/god_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,375},{81,113}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>aladdin5x243_effect/Light_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1876},{858,88}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{943,142}</string>
			</dict>
			<key>aladdin5x243_effect/Light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1176},{859,87}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{943,142}</string>
			</dict>
			<key>aladdin5x243_effect/Light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1265},{858,87}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{943,142}</string>
			</dict>
			<key>aladdin5x243_effect/Light_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,886},{858,87}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{943,142}</string>
			</dict>
			<key>aladdin5x243_effect/Light_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,797},{861,87}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{943,142}</string>
			</dict>
			<key>aladdin5x243_effect/water_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,1966},{12,20}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2015},{11,27}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1966},{10,33}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,2001},{9,35}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1966},{7,38}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,1988},{8,51}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1966},{9,47}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,1988},{6,52}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2044},{5,3}}</string>
				<key>offset</key>
				<string>{0,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
			<key>aladdin5x243_effect/water_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,2044},{4,2}}</string>
				<key>offset</key>
				<string>{0,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aladdin5x243_effect.png</string>
			<key>realTextureFileName</key>
			<string>aladdin5x243_effect.png</string>
			<key>size</key>
			<string>{2046,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>