<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>aladdin5x243_main/243.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1},{122,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,71}</string>
			</dict>
			<key>aladdin5x243_main/alpha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,74},{1,1}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>aladdin5x243_main/Button_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,148},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1148},{173,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,84}</string>
			</dict>
			<key>aladdin5x243_main/Button_betall.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1148},{173,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,84}</string>
			</dict>
			<key>aladdin5x243_main/Button_musicOFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,221},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_musicON.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,294},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_quick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,1180},{211,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,81}</string>
			</dict>
			<key>aladdin5x243_main/Button_rollstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,763},{211,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,179}</string>
			</dict>
			<key>aladdin5x243_main/Button_rollstop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,944},{211,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,179}</string>
			</dict>
			<key>aladdin5x243_main/Button_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,757},{196,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,204}</string>
			</dict>
			<key>aladdin5x243_main/Button_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,367},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_soundOFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,440},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_soundON.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,513},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,586},{102,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,71}</string>
			</dict>
			<key>aladdin5x243_main/Button_tzcs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1094},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>aladdin5x243_main/eff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,367},{32,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,68}</string>
			</dict>
			<key>aladdin5x243_main/errer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1116},{231,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,48}</string>
			</dict>
			<key>aladdin5x243_main/gnjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1116},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>
			<key>aladdin5x243_main/Image_aotutime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,330},{255,425}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,425}</string>
			</dict>
			<key>aladdin5x243_main/Image_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1125},{227,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,80}</string>
			</dict>
			<key>aladdin5x243_main/Image_djg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1398},{716,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,142}</string>
			</dict>
			<key>aladdin5x243_main/Image_djg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1423},{716,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,142}</string>
			</dict>
			<key>aladdin5x243_main/Image_djg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1542},{716,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,142}</string>
			</dict>
			<key>aladdin5x243_main/Image_djgh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,330},{696,661}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{696,661}</string>
			</dict>
			<key>aladdin5x243_main/Image_djjqdg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,993},{219,118}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,118}</string>
			</dict>
			<key>aladdin5x243_main/image_font_bettotal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,727},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>aladdin5x243_main/image_font_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1140},{84,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,34}</string>
			</dict>
			<key>aladdin5x243_main/Image_freegametitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1686},{1920,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1920,126}</string>
			</dict>
			<key>aladdin5x243_main/Image_freegametitle_freetimes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1110},{130,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,28}</string>
			</dict>
			<key>aladdin5x243_main/image_plate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,659},{74,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>
			<key>aladdin5x243_main/image_plate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,74},{115,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,72}</string>
			</dict>
			<key>aladdin5x243_main/Image_she1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,720},{347,360}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,393}</string>
			</dict>
			<key>aladdin5x243_main/Image_she2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,330},{351,388}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,393}</string>
			</dict>
			<key>aladdin5x243_main/Image_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,1207},{275,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,69}</string>
			</dict>
			<key>aladdin5x243_main/Image_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,1082},{313,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,90}</string>
			</dict>
			<key>aladdin5x243_main/Image_xjdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,330},{582,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,461}</string>
			</dict>
			<key>aladdin5x243_main/Image_youwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,1174},{348,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,64}</string>
			</dict>
			<key>aladdin5x243_main/juku7ku.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,232},{14,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,11}</string>
			</dict>
			<key>aladdin5x243_main/mscs.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,793},{552,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{552,114}</string>
			</dict>
			<key>aladdin5x243_main/qsh.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1113},{219,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,90}</string>
			</dict>
			<key>aladdin5x243_main/rrtrsths.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,909},{552,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{552,114}</string>
			</dict>
			<key>aladdin5x243_main/Texture_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1920,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1920,327}</string>
			</dict>
			<key>aladdin5x243_main/Texture_yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1240},{715,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{715,156}</string>
			</dict>
			<key>aladdin5x243_main/Texture_yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1234},{724,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,187}</string>
			</dict>
			<key>aladdin5x243_main/trtyuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,148},{16,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,48}</string>
			</dict>
			<key>aladdin5x243_main/yuu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,198},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>aladdin5x243_main/yxdf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1166},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>
			<key>aladdin5x243_main/zhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,220},{17,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,10}</string>
			</dict>
			<key>aladdin5x243_main/zjsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1567},{681,69}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{701,69}</string>
			</dict>
			<key>aladdin5x243_main/y5u75u.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1814},{1327,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1327,59}</string>
			</dict>
			<key>aladdin5x243_main/trjytrjytrjy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,437},{33,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,25}</string>
			</dict>
			<key>aladdin5x243_main/weeee.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,993},{443,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,121}</string>
			</dict>
			<key>aladdin5x243_main/gxjrmf.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1025},{443,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,121}</string>
			</dict>
			<key>aladdin5x243_main/SettingBKG 1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,963},{163,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,129}</string>
			</dict>
			<key>aladdin5x243_main/SettingBKG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1025},{163,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aladdin5x243_main.png</string>
			<key>realTextureFileName</key>
			<string>aladdin5x243_main.png</string>
			<key>size</key>
			<string>{2047,1874}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1874</integer>
		</dict>
	</dict>
</plist>