<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>san1_win1_ani1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,698},{105,66}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,60},{105,66}}</string>
                <key>sourceSize</key>
                <string>{205,130}</string>
            </dict>
            <key>san1_win1_ani1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1675},{149,96}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{149,96}}</string>
                <key>sourceSize</key>
                <string>{205,130}</string>
            </dict>
            <key>san1_win1_ani1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1621},{173,108}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{173,108}}</string>
                <key>sourceSize</key>
                <string>{205,130}</string>
            </dict>
            <key>san1_win1_ani1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1560},{203,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,130}}</string>
                <key>sourceSize</key>
                <string>{205,130}</string>
            </dict>
            <key>san1_win1_ani2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1224},{238,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1098},{238,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1376},{236,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1250},{236,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1061},{238,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1213},{236,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1365},{234,148}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1469},{232,148}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{232,148}}</string>
                <key>sourceSize</key>
                <string>{240,150}</string>
            </dict>
            <key>san1_win1_ani3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1621},{41,50}}</string>
                <key>offset</key>
                <string>{-89,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{41,50}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1073},{73,52}}</string>
                <key>offset</key>
                <string>{-73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{73,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1792},{103,52}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{103,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1828},{135,52}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{135,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1621},{167,52}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{167,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1350},{199,52}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{199,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1129},{217,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{217,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_ani3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,313},{231,52}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{231,52}}</string>
                <key>sourceSize</key>
                <string>{245,54}</string>
            </dict>
            <key>san1_win1_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1844},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,117}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>san1_win1_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,3},{308,306}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{308,306}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>san1_win1_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,313},{251,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,174}}</string>
                <key>sourceSize</key>
                <string>{251,174}</string>
            </dict>
            <key>san1_win2_ani1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1517},{30,36}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{30,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,897},{56,90}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{56,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1828},{114,94}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{114,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1835},{116,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{116,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1835},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1844},{118,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1835},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1553},{118,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>san1_win2_ani3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1816},{167,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,137}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>san1_win2_ani3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1675},{167,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,137}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>san1_win2_ani3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1694},{167,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,137}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>san1_win2_ani3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1694},{167,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,137}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>san1_win2_ani4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,646},{68,48}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{68,48}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>san1_win2_ani4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,991},{78,56}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{78,56}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>san1_win2_ani4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,807},{86,64}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{86,64}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>san1_win2_ani4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,548},{94,70}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{94,70}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>san1_win2_ani5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1528},{206,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{206,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1402},{206,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{206,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1311},{206,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{206,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1005},{206,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{206,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1517},{204,154}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{204,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1686},{202,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{202,154}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>san1_win2_ani6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,850},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_ani6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,683},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_ani6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,660},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_ani6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,507},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_ani6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,255},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_ani6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,3},{248,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>san1_win2_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{515,461}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{515,461}}</string>
                <key>sourceSize</key>
                <string>{515,511}</string>
            </dict>
            <key>san1_win2_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1040},{239,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{239,54}}</string>
                <key>sourceSize</key>
                <string>{239,80}</string>
            </dict>
            <key>san1_win3_ani1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1163},{210,144}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{210,144}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1040},{242,180}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{242,180}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,873},{242,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{242,184}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,759},{242,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{242,184}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,852},{242,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{242,184}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,660},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,491},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,468},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,468},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,468},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,491},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>san1_win3_ani2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,660},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,188}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>san1aniwin.png</string>
            <key>size</key>
            <string>{1023,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70be6abcfb603d54769ee52e37884280:1/1$</string>
            <key>textureFileName</key>
            <string>san1aniwin.png</string>
        </dict>
    </dict>
</plist>
