<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whitesnake_anijpg_river1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1558},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1503},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1448},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{877,1708},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1957,505},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1902,586},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1847,586},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1979},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_river9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1},{500,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,51}}</string>
                <key>sourceSize</key>
                <string>{500,51}</string>
            </dict>
            <key>whitesnake_anijpg_shui1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1090},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1503},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1830},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1613},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{809,1763},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1231},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{405,1762},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1630,586},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{877,1491},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_anijpg_shui9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1762},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>whitesnake_helpback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>whitesnake_jpg_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,586},{641,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,341}}</string>
                <key>sourceSize</key>
                <string>{641,341}</string>
            </dict>
            <key>whitesnake_jpg_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1108},{1280,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,379}}</string>
                <key>sourceSize</key>
                <string>{1280,379}</string>
            </dict>
            <key>whitesnake_jpg_back3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1280,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,379}}</string>
                <key>sourceSize</key>
                <string>{1280,379}</string>
            </dict>
            <key>whitesnake_jpg_back4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1491},{872,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,267}}</string>
                <key>sourceSize</key>
                <string>{872,267}</string>
            </dict>
            <key>whitesnake_jpg_back5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{614,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,581}}</string>
                <key>sourceSize</key>
                <string>{614,581}</string>
            </dict>
            <key>whitesnake_jpg_back6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1630,990},{138,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,130}}</string>
                <key>sourceSize</key>
                <string>{138,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whitesnake_anijpg.jpg</string>
            <key>size</key>
            <string>{2010,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a219d61ce784008837021842b8bf652:2274f49624e4239aaddad458259488d1:dbc4d5ac23fa3f505b19a5b2c5258eb8$</string>
            <key>textureFileName</key>
            <string>whitesnake_anijpg.jpg</string>
        </dict>
    </dict>
</plist>
