<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dbzchgscene1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1497},{800,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,100}}</string>
                <key>sourceSize</key>
                <string>{800,100}</string>
            </dict>
            <key>dbzchgscene2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1393},{800,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,100}}</string>
                <key>sourceSize</key>
                <string>{800,100}</string>
            </dict>
            <key>dbzchgscene3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1289},{800,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,100}}</string>
                <key>sourceSize</key>
                <string>{800,100}</string>
            </dict>
            <key>dbzchgscene4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1185},{800,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,100}}</string>
                <key>sourceSize</key>
                <string>{800,100}</string>
            </dict>
            <key>dbzfreeresult01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1601},{482,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,361}}</string>
                <key>sourceSize</key>
                <string>{482,361}</string>
            </dict>
            <key>dbzfreeresult06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{487,1821},{285,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,159}}</string>
                <key>sourceSize</key>
                <string>{285,159}</string>
            </dict>
            <key>dbzfreeresult08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{487,1711},{306,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,106}}</string>
                <key>sourceSize</key>
                <string>{306,106}</string>
            </dict>
            <key>dbzfreeresult09.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1601},{306,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,106}}</string>
                <key>sourceSize</key>
                <string>{306,106}</string>
            </dict>
            <key>dbzgamescene1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,600}}</string>
                <key>sourceSize</key>
                <string>{1024,600}</string>
            </dict>
            <key>dbzgamescene2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,605},{1024,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,576}}</string>
                <key>sourceSize</key>
                <string>{1024,576}</string>
            </dict>
            <key>dbzimg_autoback6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{797,1713},{202,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,106}}</string>
                <key>sourceSize</key>
                <string>{202,106}</string>
            </dict>
            <key>dbzimg_light06_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{805,1449},{260,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,218}}</string>
                <key>sourceSize</key>
                <string>{260,218}</string>
            </dict>
            <key>dbzimg_light06_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{805,1185},{260,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,218}}</string>
                <key>sourceSize</key>
                <string>{260,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dbzjpgres.jpg</string>
            <key>size</key>
            <string>{1026,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb33a9c97dd1c38594762f4524330e4:36478d5cbf9f1d59aa3ad48bfb762863:37de315af3b41f404070de9f34127043$</string>
            <key>textureFileName</key>
            <string>dbzjpgres.jpg</string>
        </dict>
    </dict>
</plist>
