<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tgowboxback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1351},{582,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,282}}</string>
                <key>sourceSize</key>
                <string>{582,282}</string>
            </dict>
            <key>tgowdlgback01.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1885},{103,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,56}}</string>
                <key>sourceSize</key>
                <string>{103,56}</string>
            </dict>
            <key>tgowgameback01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,725},{621,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,622}}</string>
                <key>sourceSize</key>
                <string>{621,622}</string>
            </dict>
            <key>tgowgameback28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1649,511},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>tgowgameback29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>tgowgameback30.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1961},{197,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,74}}</string>
                <key>sourceSize</key>
                <string>{197,74}</string>
            </dict>
            <key>tgowgameback31.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1637},{266,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,211}}</string>
                <key>sourceSize</key>
                <string>{266,211}</string>
            </dict>
            <key>tgowgameback40.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,511},{199,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,360}}</string>
                <key>sourceSize</key>
                <string>{199,360}</string>
            </dict>
            <key>tgowgameback42.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1907},{113,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,241}}</string>
                <key>sourceSize</key>
                <string>{113,241}</string>
            </dict>
            <key>tgowhelpback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1305},{1092,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1092,576}}</string>
                <key>sourceSize</key>
                <string>{1092,576}</string>
            </dict>
            <key>tgowhelpback02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1092,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1092,576}}</string>
                <key>sourceSize</key>
                <string>{1092,576}</string>
            </dict>
            <key>tgowwin3_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1637},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tgowwin3_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{506,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,474}}</string>
                <key>sourceSize</key>
                <string>{506,474}</string>
            </dict>
            <key>tgowwin3_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1885},{698,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,72}}</string>
                <key>sourceSize</key>
                <string>{698,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tgowjpg.jpg</string>
            <key>size</key>
            <string>{1760,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8618bbc3116a8a89935dd7b3302474:a38d36eefb40da7d4349e6706b228a21:820e7b3c02f2239f6be420e2e8d17c6d$</string>
            <key>textureFileName</key>
            <string>tgowjpg.jpg</string>
        </dict>
    </dict>
</plist>
