<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tgowwin2_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{506,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,474}}</string>
                <key>sourceSize</key>
                <string>{506,474}</string>
            </dict>
            <key>tgowwin2_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tgowjpg1.jpg</string>
            <key>size</key>
            <string>{912,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f0b6fa500c720aaef820ab9e9a78954:bf0988d7568afce0ce47fc489e92db74:f18a4cc4bb0c49e3368479494643ca84$</string>
            <key>textureFileName</key>
            <string>tgowjpg1.jpg</string>
        </dict>
    </dict>
</plist>
