<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tgowgameback32.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{640,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,152}}</string>
                <key>sourceSize</key>
                <string>{640,152}</string>
            </dict>
            <key>tgowgameback33.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,550},{413,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,382}}</string>
                <key>sourceSize</key>
                <string>{413,382}</string>
            </dict>
            <key>tgowgameback34.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,936},{287,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,155}}</string>
                <key>sourceSize</key>
                <string>{287,155}</string>
            </dict>
            <key>tgowgameback35.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,157},{409,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,389}}</string>
                <key>sourceSize</key>
                <string>{409,389}</string>
            </dict>
            <key>tgowgameback36.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,157},{749,140}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{749,140}}</string>
                <key>sourceSize</key>
                <string>{749,148}</string>
            </dict>
            <key>tgowgameback37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,376}}</string>
                <key>sourceSize</key>
                <string>{1280,376}</string>
            </dict>
            <key>tgowgameback38.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,936},{220,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,344}}</string>
                <key>sourceSize</key>
                <string>{220,344}</string>
            </dict>
            <key>tgowgameback39.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,936},{220,344}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{220,344}}</string>
                <key>sourceSize</key>
                <string>{230,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tgowpng1.png</string>
            <key>size</key>
            <string>{1022,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6578010cbe44a6c05cba09dda60ad7fe:c624beb15982075e3629d476f2cdf7e5:9110624c0070b0d8261c3fae3458fc89$</string>
            <key>textureFileName</key>
            <string>tgowpng1.png</string>
        </dict>
    </dict>
</plist>
