<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heros108_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{645,725},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>heros108_back2_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>heros108_back2_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{965,1449},{138,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,210}}</string>
                <key>sourceSize</key>
                <string>{138,210}</string>
            </dict>
            <key>heros108_back2_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{366,1477},{271,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,271}}</string>
                <key>sourceSize</key>
                <string>{271,271}</string>
            </dict>
            <key>heros108_back_dice.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>heros108_freegame_back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{641,1477},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>heros108_img_guang1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{641,1661},{350,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,78}}</string>
                <key>sourceSize</key>
                <string>{350,78}</string>
            </dict>
            <key>heros108_img_guang2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1449},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>heros108_img_word1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1},{392,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,72}}</string>
                <key>sourceSize</key>
                <string>{392,72}</string>
            </dict>
            <key>heros108_img_word2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{965,1591},{252,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,66}}</string>
                <key>sourceSize</key>
                <string>{252,66}</string>
            </dict>
            <key>heros108_img_word3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1929,397},{258,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,72}}</string>
                <key>sourceSize</key>
                <string>{258,72}</string>
            </dict>
            <key>heros108_img_word4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1729},{192,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,28}}</string>
                <key>sourceSize</key>
                <string>{192,28}</string>
            </dict>
            <key>heros108_rule_back1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>heros108_rule_back2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1385},{374,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,340}}</string>
                <key>sourceSize</key>
                <string>{374,340}</string>
            </dict>
            <key>heros108_rule_back3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{914,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,24}}</string>
                <key>sourceSize</key>
                <string>{914,24}</string>
            </dict>
            <key>heros108_rule_back4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,725},{656,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,380}}</string>
                <key>sourceSize</key>
                <string>{656,380}</string>
            </dict>
            <key>heros108_rule_back5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1477},{361,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,275}}</string>
                <key>sourceSize</key>
                <string>{361,275}</string>
            </dict>
            <key>heros108_rule_back6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1673,725},{652,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,373}}</string>
                <key>sourceSize</key>
                <string>{652,373}</string>
            </dict>
            <key>heros108_rule_back7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1385},{379,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,375}}</string>
                <key>sourceSize</key>
                <string>{379,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heros108_jpg.jpg</string>
            <key>size</key>
            <string>{2047,1761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ecc2aead659bd89681dbff84b395fe:1/1$</string>
            <key>textureFileName</key>
            <string>heros108_jpg.jpg</string>
        </dict>
    </dict>
</plist>
