<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heros108_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1890},{478,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,12}}</string>
                <key>sourceSize</key>
                <string>{478,12}</string>
            </dict>
            <key>heros108_line10.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,645},{478,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,210}}</string>
                <key>sourceSize</key>
                <string>{478,210}</string>
            </dict>
            <key>heros108_line11.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1009},{478,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,210}}</string>
                <key>sourceSize</key>
                <string>{478,210}</string>
            </dict>
            <key>heros108_line12.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1468},{478,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,133}}</string>
                <key>sourceSize</key>
                <string>{478,133}</string>
            </dict>
            <key>heros108_line13.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1331},{478,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,133}}</string>
                <key>sourceSize</key>
                <string>{478,133}</string>
            </dict>
            <key>heros108_line14.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1223},{478,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,191}}</string>
                <key>sourceSize</key>
                <string>{478,191}</string>
            </dict>
            <key>heros108_line15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1736},{478,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,192}}</string>
                <key>sourceSize</key>
                <string>{478,192}</string>
            </dict>
            <key>heros108_line16.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1418},{478,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,164}}</string>
                <key>sourceSize</key>
                <string>{478,164}</string>
            </dict>
            <key>heros108_line17.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,859},{478,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,164}}</string>
                <key>sourceSize</key>
                <string>{478,164}</string>
            </dict>
            <key>heros108_line18.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,689},{478,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,316}}</string>
                <key>sourceSize</key>
                <string>{478,316}</string>
            </dict>
            <key>heros108_line19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1105},{478,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,316}}</string>
                <key>sourceSize</key>
                <string>{478,316}</string>
            </dict>
            <key>heros108_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1932},{478,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,12}}</string>
                <key>sourceSize</key>
                <string>{478,12}</string>
            </dict>
            <key>heros108_line20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1425},{478,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,307}}</string>
                <key>sourceSize</key>
                <string>{478,307}</string>
            </dict>
            <key>heros108_line21.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,334},{478,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,307}}</string>
                <key>sourceSize</key>
                <string>{478,307}</string>
            </dict>
            <key>heros108_line22.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1},{478,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,329}}</string>
                <key>sourceSize</key>
                <string>{478,329}</string>
            </dict>
            <key>heros108_line23.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,355},{478,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,330}}</string>
                <key>sourceSize</key>
                <string>{478,330}</string>
            </dict>
            <key>heros108_line24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{478,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,371}}</string>
                <key>sourceSize</key>
                <string>{478,371}</string>
            </dict>
            <key>heros108_line25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{478,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,371}}</string>
                <key>sourceSize</key>
                <string>{478,371}</string>
            </dict>
            <key>heros108_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1},{478,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,12}}</string>
                <key>sourceSize</key>
                <string>{478,12}</string>
            </dict>
            <key>heros108_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{478,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,350}}</string>
                <key>sourceSize</key>
                <string>{478,350}</string>
            </dict>
            <key>heros108_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{478,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,350}}</string>
                <key>sourceSize</key>
                <string>{478,350}</string>
            </dict>
            <key>heros108_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1750},{478,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,136}}</string>
                <key>sourceSize</key>
                <string>{478,136}</string>
            </dict>
            <key>heros108_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1191},{478,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,136}}</string>
                <key>sourceSize</key>
                <string>{478,136}</string>
            </dict>
            <key>heros108_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1586},{478,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,160}}</string>
                <key>sourceSize</key>
                <string>{478,160}</string>
            </dict>
            <key>heros108_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1027},{478,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,160}}</string>
                <key>sourceSize</key>
                <string>{478,160}</string>
            </dict>
            <key>heros108_rule_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1},{134,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,11}}</string>
                <key>sourceSize</key>
                <string>{134,11}</string>
            </dict>
            <key>heros108_rule_line10.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1906},{134,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>heros108_rule_line11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1746},{134,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>heros108_rule_line12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1889},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>heros108_rule_line13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1889},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>heros108_rule_line14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1948},{134,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>heros108_rule_line15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1948},{134,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>heros108_rule_line16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1890},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>heros108_rule_line17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1890},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>heros108_rule_line18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1605},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>heros108_rule_line19.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1760},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>heros108_rule_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,621},{134,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,11}}</string>
                <key>sourceSize</key>
                <string>{134,11}</string>
            </dict>
            <key>heros108_rule_line20.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1906},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>heros108_rule_line21.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1906},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>heros108_rule_line22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1605},{134,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,137}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>heros108_rule_line23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1747},{134,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>heros108_rule_line24.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1605},{134,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,151}}</string>
                <key>sourceSize</key>
                <string>{134,151}</string>
            </dict>
            <key>heros108_rule_line25.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1906},{134,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>heros108_rule_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1860},{134,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,11}}</string>
                <key>sourceSize</key>
                <string>{134,11}</string>
            </dict>
            <key>heros108_rule_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1605},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>heros108_rule_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1748},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>heros108_rule_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,483},{134,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,61}</string>
            </dict>
            <key>heros108_rule_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1860},{134,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,61}</string>
            </dict>
            <key>heros108_rule_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1903},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>heros108_rule_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1948},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heros108_line.png</string>
            <key>size</key>
            <string>{1515,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2602ea7ec97a04af34f0fb3a93e442:1/1$</string>
            <key>textureFileName</key>
            <string>heros108_line.png</string>
        </dict>
    </dict>
</plist>
