<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutowin2_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1687},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1675},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1675},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1400},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1400},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1388},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1388},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1113},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1113},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1101},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1101},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,826},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin2_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,826},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>narutowin3_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,826},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,826},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,551},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,551},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,551},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,551},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,276},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,276},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,276},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>narutowin3_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutoanijpg1.jpg</string>
            <key>size</key>
            <string>{2014,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9d4673a43a7d1722c673d2e4b95742:eaf84cf1c8a853329ba977f8e8a2961a:7a534886bc705e3c4916fe79c014868e$</string>
            <key>textureFileName</key>
            <string>narutoanijpg1.jpg</string>
        </dict>
    </dict>
</plist>
