<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutodani1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,801},{190,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{190,115}}</string>
                <key>sourceSize</key>
                <string>{212,127}</string>
            </dict>
            <key>narutodani1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1618},{194,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,196}}</string>
                <key>sourceSize</key>
                <string>{194,196}</string>
            </dict>
            <key>narutodani2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1010},{188,123}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{188,123}}</string>
                <key>sourceSize</key>
                <string>{212,127}</string>
            </dict>
            <key>narutodarts1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1443},{168,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,75}</string>
            </dict>
            <key>narutodarts1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,953},{152,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{152,94}}</string>
                <key>sourceSize</key>
                <string>{168,106}</string>
            </dict>
            <key>narutodarts1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,658},{168,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,106}}</string>
                <key>sourceSize</key>
                <string>{168,106}</string>
            </dict>
            <key>narutolightani1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1},{85,536}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{85,536}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{83,536}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,536}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{81,538}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,538}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{83,540}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,540}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,86},{79,538}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,538}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1},{77,538}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{77,538}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1085},{79,538}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,538}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutolightani1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,541},{81,538}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,538}}</string>
                <key>sourceSize</key>
                <string>{95,540}</string>
            </dict>
            <key>narutorunani0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,777},{172,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,148}}</string>
                <key>sourceSize</key>
                <string>{172,148}</string>
            </dict>
            <key>narutorunani0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1779},{127,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>narutorunani0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1313},{188,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,163}}</string>
                <key>sourceSize</key>
                <string>{188,163}</string>
            </dict>
            <key>narutorunani0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1356},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1297},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1210},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1151},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1322},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1148},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,189},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>narutorunani1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1617},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>narutorunani1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1005},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,997},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1505},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,603},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,429},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,255},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,142}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,830},{188,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,163}}</string>
                <key>sourceSize</key>
                <string>{188,163}</string>
            </dict>
            <key>narutorunani1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1745},{102,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,81}}</string>
                <key>sourceSize</key>
                <string>{102,81}</string>
            </dict>
            <key>narutorunani2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1522},{118,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,154}}</string>
                <key>sourceSize</key>
                <string>{118,154}</string>
            </dict>
            <key>narutorunani2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1818},{118,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,154}}</string>
                <key>sourceSize</key>
                <string>{118,154}</string>
            </dict>
            <key>narutorunani2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,532},{112,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,122}}</string>
                <key>sourceSize</key>
                <string>{112,122}</string>
            </dict>
            <key>narutorunani2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1051},{155,156}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{155,156}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1659},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>narutorunani3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1502},{125,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,146}}</string>
                <key>sourceSize</key>
                <string>{125,146}</string>
            </dict>
            <key>narutorunani3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1817},{155,156}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{155,156}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1833},{92,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{92,86}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1631},{96,110}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{96,110}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1801},{128,128}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{128,128}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1651},{138,158}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{138,158}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1137},{186,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{186,172}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,808},{198,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,184}}</string>
                <key>sourceSize</key>
                <string>{198,192}</string>
            </dict>
            <key>narutorunani4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,369},{159,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,146}}</string>
                <key>sourceSize</key>
                <string>{159,146}</string>
            </dict>
            <key>narutorunani4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,82},{169,162}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,162}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1818},{155,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{155,154}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1496},{124,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,151}}</string>
                <key>sourceSize</key>
                <string>{124,151}</string>
            </dict>
            <key>narutorunani5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1813},{159,158}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{159,158}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1143},{127,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,164}}</string>
                <key>sourceSize</key>
                <string>{127,164}</string>
            </dict>
            <key>narutorunani6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1502},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>narutorunani6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1341},{27,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{27,49}</string>
            </dict>
            <key>narutorunani6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1651},{159,158}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{159,158}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1801},{121,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>narutorunani7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1644},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>narutorunani7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1322},{143,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{143,144}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>narutorunani8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,397},{131,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,136}}</string>
                <key>sourceSize</key>
                <string>{131,136}</string>
            </dict>
            <key>narutorunani8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1659},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>narutorunani8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1470},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>narutosmoke1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,830},{156,171}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{156,171}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,189},{204,299}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{204,299}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,808},{270,277}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{270,277}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,532},{272,295}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{272,295}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,532},{288,265}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{288,265}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,532},{294,235}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,40},{294,235}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1085},{292,225}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,45},{292,225}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutosmoke1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1381},{292,233}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{292,233}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>narutowin1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1082},{255,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,135}}</string>
                <key>sourceSize</key>
                <string>{255,135}</string>
            </dict>
            <key>narutowin1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1627},{345,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,140}}</string>
                <key>sourceSize</key>
                <string>{345,140}</string>
            </dict>
            <key>narutowin1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,397},{299,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,131}}</string>
                <key>sourceSize</key>
                <string>{299,131}</string>
            </dict>
            <key>narutowin1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1341},{269,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,75}}</string>
                <key>sourceSize</key>
                <string>{269,75}</string>
            </dict>
            <key>narutowin1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1618},{195,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,106}}</string>
                <key>sourceSize</key>
                <string>{195,106}</string>
            </dict>
            <key>narutowin1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,383},{349,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,145}}</string>
                <key>sourceSize</key>
                <string>{349,145}</string>
            </dict>
            <key>narutowin1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,995},{149,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,101}}</string>
                <key>sourceSize</key>
                <string>{149,101}</string>
            </dict>
            <key>narutowin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,82},{380,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,103}}</string>
                <key>sourceSize</key>
                <string>{380,103}</string>
            </dict>
            <key>narutowin3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,276},{468,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,103}}</string>
                <key>sourceSize</key>
                <string>{468,103}</string>
            </dict>
            <key>narutowin4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,169},{470,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,103}}</string>
                <key>sourceSize</key>
                <string>{470,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutoanipng.png</string>
            <key>size</key>
            <string>{1266,1973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb24e582ab07d0525726384eb0944de4:b33ceadc05b2513a1c07164ae48f68bc:ec4d7554a64f76b9dff78288aedc5b70$</string>
            <key>textureFileName</key>
            <string>narutoanipng.png</string>
        </dict>
    </dict>
</plist>
