<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutowin4_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1730},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1730},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1483},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1483},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1009},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1009},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1236},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1236},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,989},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1256,505},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,505},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,742},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,742},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,495},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,248},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
            <key>narutowin4_23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,243}}</string>
                <key>sourceSize</key>
                <string>{500,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutoanijpg2.jpg</string>
            <key>size</key>
            <string>{1500,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:354658ca73c8b55e4bdc35917090197c:e1da25798d75eae10c1298669412eb19:046574e45ccbe13cc63bcd8aaf891a79$</string>
            <key>textureFileName</key>
            <string>narutoanijpg2.jpg</string>
        </dict>
    </dict>
</plist>
