<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutoimg_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1614},{514,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,18}}</string>
                <key>sourceSize</key>
                <string>{514,18}</string>
            </dict>
            <key>narutoimg_line10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1217},{513,240}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{513,240}}</string>
                <key>sourceSize</key>
                <string>{513,380}</string>
            </dict>
            <key>narutoimg_line11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,937},{513,240}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,240}}</string>
                <key>sourceSize</key>
                <string>{513,380}</string>
            </dict>
            <key>narutoimg_line12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1},{514,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,153}}</string>
                <key>sourceSize</key>
                <string>{514,153}</string>
            </dict>
            <key>narutoimg_line13.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1516},{514,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,153}}</string>
                <key>sourceSize</key>
                <string>{514,153}</string>
            </dict>
            <key>narutoimg_line14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1},{514,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,210}}</string>
                <key>sourceSize</key>
                <string>{514,210}</string>
            </dict>
            <key>narutoimg_line15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1461},{514,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,206}}</string>
                <key>sourceSize</key>
                <string>{514,206}</string>
            </dict>
            <key>narutoimg_line16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1037},{514,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,180}}</string>
                <key>sourceSize</key>
                <string>{514,180}</string>
            </dict>
            <key>narutoimg_line17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,519},{514,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,180}}</string>
                <key>sourceSize</key>
                <string>{514,180}</string>
            </dict>
            <key>narutoimg_line18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,374},{514,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,347}}</string>
                <key>sourceSize</key>
                <string>{514,347}</string>
            </dict>
            <key>narutoimg_line19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1219},{514,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,347}}</string>
                <key>sourceSize</key>
                <string>{514,347}</string>
            </dict>
            <key>narutoimg_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1592},{514,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,18}}</string>
                <key>sourceSize</key>
                <string>{514,18}</string>
            </dict>
            <key>narutoimg_line20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,882},{514,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,331}}</string>
                <key>sourceSize</key>
                <string>{514,331}</string>
            </dict>
            <key>narutoimg_line21.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1181},{514,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,331}}</string>
                <key>sourceSize</key>
                <string>{514,331}</string>
            </dict>
            <key>narutoimg_line22.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,407},{515,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,369}}</string>
                <key>sourceSize</key>
                <string>{515,369}</string>
            </dict>
            <key>narutoimg_line23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1},{515,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,369}}</string>
                <key>sourceSize</key>
                <string>{515,369}</string>
            </dict>
            <key>narutoimg_line24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,813},{508,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,402}}</string>
                <key>sourceSize</key>
                <string>{508,402}</string>
            </dict>
            <key>narutoimg_line25.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{508,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,402}}</string>
                <key>sourceSize</key>
                <string>{508,402}</string>
            </dict>
            <key>narutoimg_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1570},{514,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,18}}</string>
                <key>sourceSize</key>
                <string>{514,18}</string>
            </dict>
            <key>narutoimg_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{514,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,402}}</string>
                <key>sourceSize</key>
                <string>{514,402}</string>
            </dict>
            <key>narutoimg_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{514,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,402}}</string>
                <key>sourceSize</key>
                <string>{514,402}</string>
            </dict>
            <key>narutoimg_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,780},{514,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,153}}</string>
                <key>sourceSize</key>
                <string>{514,153}</string>
            </dict>
            <key>narutoimg_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,725},{514,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,153}}</string>
                <key>sourceSize</key>
                <string>{514,153}</string>
            </dict>
            <key>narutoimg_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1037},{514,198}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,198}}</string>
                <key>sourceSize</key>
                <string>{514,366}</string>
            </dict>
            <key>narutoimg_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,519},{514,198}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,168},{514,198}}</string>
                <key>sourceSize</key>
                <string>{514,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutopngres1.png</string>
            <key>size</key>
            <string>{1939,1670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ef0d8e583891fb9eb934bd0f5a7a6a:6d98df90d6c0c642b86a379abc8d36a7:4722740778fd758bbc8fdcb4a335d09a$</string>
            <key>textureFileName</key>
            <string>narutopngres1.png</string>
        </dict>
    </dict>
</plist>
