<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutoboxback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>narutodisconnectback.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1285},{528,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,297}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>narutodoubleback01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>narutogameback04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1817,1285},{127,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,508}}</string>
                <key>sourceSize</key>
                <string>{127,508}</string>
            </dict>
            <key>narutogameback05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1781},{127,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,508}}</string>
                <key>sourceSize</key>
                <string>{127,508}</string>
            </dict>
            <key>narutogameback06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1586},{191,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,508}}</string>
                <key>sourceSize</key>
                <string>{191,508}</string>
            </dict>
            <key>narutogameback14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1797},{198,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,156}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>narutogameback15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1797},{198,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,156}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>narutogameback16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1586},{198,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,156}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>narutogameback17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1285},{36,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,508}}</string>
                <key>sourceSize</key>
                <string>{36,508}</string>
            </dict>
            <key>narutogameback18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1285},{35,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,508}}</string>
                <key>sourceSize</key>
                <string>{35,508}</string>
            </dict>
            <key>narutogameback21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>narutohelpback1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>narutohelpback11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1520},{838,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,436}}</string>
                <key>sourceSize</key>
                <string>{838,436}</string>
            </dict>
            <key>narutohelpback15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{843,1520},{274,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,358}}</string>
                <key>sourceSize</key>
                <string>{274,358}</string>
            </dict>
            <key>narutohelpback8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{843,1882},{112,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{112,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutojpgres.jpg</string>
            <key>size</key>
            <string>{2034,1957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243dd9fe1af447b1e5b29cba0c2c6d3f:28fa33d971dc9fc096a87733190bccf2:0be5768506c970f59602a33e429a9f2e$</string>
            <key>textureFileName</key>
            <string>narutojpgres.jpg</string>
        </dict>
    </dict>
</plist>
