<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>narutodarts1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{497,1245},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{249,1245},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1219},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1053},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1050},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1023},{244,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,192}}</string>
                <key>sourceSize</key>
                <string>{244,192}</string>
            </dict>
            <key>narutodarts1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{643,1050},{390,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,191}}</string>
                <key>sourceSize</key>
                <string>{390,191}</string>
            </dict>
            <key>narutodarts1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{249,1050},{390,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,191}}</string>
                <key>sourceSize</key>
                <string>{390,191}</string>
            </dict>
            <key>narutodarts1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1050,855},{390,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,191}}</string>
                <key>sourceSize</key>
                <string>{390,191}</string>
            </dict>
            <key>narutodarts1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{656,855},{390,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,191}}</string>
                <key>sourceSize</key>
                <string>{390,191}</string>
            </dict>
            <key>narutodarts1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{262,855},{390,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,191}}</string>
                <key>sourceSize</key>
                <string>{390,191}</string>
            </dict>
            <key>narutorunani0_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{353,141},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{177,141},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani0_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1},{172,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,144}}</string>
                <key>sourceSize</key>
                <string>{172,144}</string>
            </dict>
            <key>narutorunani1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,835},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1239,667},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{978,667},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{717,667},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{456,667},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{195,647},{257,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,184}}</string>
                <key>sourceSize</key>
                <string>{257,184}</string>
            </dict>
            <key>narutorunani2_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{571,297},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,186}}</string>
                <key>sourceSize</key>
                <string>{162,186}</string>
            </dict>
            <key>narutorunani2_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{381,297},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,186}}</string>
                <key>sourceSize</key>
                <string>{162,186}</string>
            </dict>
            <key>narutorunani2_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{191,289},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,186}}</string>
                <key>sourceSize</key>
                <string>{162,186}</string>
            </dict>
            <key>narutorunani2_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,186}}</string>
                <key>sourceSize</key>
                <string>{162,186}</string>
            </dict>
            <key>narutorunani4_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1337,149},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>narutorunani4_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1135,149},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>narutorunani4_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{933,149},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>narutorunani4_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{731,141},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>narutorunani4_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{529,141},{198,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{198,152}</string>
            </dict>
            <key>narutorunani5_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1407,483},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1213,483},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1019,483},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{825,483},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{631,483},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani5_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{437,463},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>narutorunani6_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1415},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani6_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1249},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani6_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1249},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani6_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{943,1246},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani6_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{745,1245},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani6_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1444,855},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>narutorunani7_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{219,463},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani7_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani7_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1415,305},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani7_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1197,305},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani7_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{979,305},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani7_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{761,305},{214,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,174}}</string>
                <key>sourceSize</key>
                <string>{214,174}</string>
            </dict>
            <key>narutorunani8_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutorunani8_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutorunani8_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutorunani8_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutorunani8_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutorunani8_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>narutowin1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{567,1731},{562,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,282}}</string>
                <key>sourceSize</key>
                <string>{562,282}</string>
            </dict>
            <key>narutowin1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1727},{562,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,282}}</string>
                <key>sourceSize</key>
                <string>{562,282}</string>
            </dict>
            <key>narutowin1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1445},{562,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,282}}</string>
                <key>sourceSize</key>
                <string>{562,282}</string>
            </dict>
            <key>narutowin1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{765,1445},{562,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,282}}</string>
                <key>sourceSize</key>
                <string>{562,282}</string>
            </dict>
            <key>narutowin1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{199,1441},{562,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,282}}</string>
                <key>sourceSize</key>
                <string>{562,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>narutoanijpg.jpg</string>
            <key>size</key>
            <string>{1637,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:219f8cb33753421dcfceee1c851fd22e:388de6621bbfcc5704aedd24082f9b37:ddc47dc15367978c0fa9d73807998f53$</string>
            <key>textureFileName</key>
            <string>narutoanijpg.jpg</string>
        </dict>
    </dict>
</plist>
